<!DOCTYPE html>
<html>
  
  <head>
    <link rel="stylesheet" type="text/css" href="../../../../public/stylesheets/google.css">
  </head>
  
  <body>
    
    <div id="logo-container">
      <a id="logo" class="logo-image" href="/"></a>
    </div>
    
    <div id="input">
      
      <form id="google_search" action="go-handler">
        
        <input id="search" type="text" name="search">
        
        <div id="button_group">
          <button type="submit" id="button">Google search</button>
          <button type="submit" id="button">I'm feeling lucky</button>
        </div>
        
      </form> 
      
    </div>
    
  </body>
  
</html>