<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]--><!--[if gt IE 8]><!--><html lang="en">
<!--<![endif]-->
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>bm - Search - GOV.UK</title>

    <!--[if gt IE 8]><!--><link href="https://assets.publishing.service.gov.uk/static/govuk-template-c49b983af00205bcff91f0d722b6a1ef174e8fee7673f7297d83d4850a61e072.css" media="screen" rel="stylesheet">
<!--<![endif]-->
    <!--[if IE 6]><link href="https://assets.publishing.service.gov.uk/static/govuk-template-ie6-a3d77d45422d8b0d6b55e450db995d944fea5b7538f20376b5064edcad92e242.css" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="https://assets.publishing.service.gov.uk/static/govuk-template-ie7-5dc18128e3e09ec523b07f37c42bd5908ca9351d4703ef7bf85dfa7ddd7c2cb7.css" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="https://assets.publishing.service.gov.uk/static/govuk-template-ie8-926763b8f6629c9fe97b8b8be519ab2f0f9e4b4a12535bdea971713f23fb9f5d.css" media="screen" rel="stylesheet" /><![endif]-->
    <link href="https://assets.publishing.service.gov.uk/static/govuk-template-print-1076519521c2fffbbf75ab3b0d3b32ee2d96ac7e9778f1cdfac1771eefd1a1c0.css" media="print" rel="stylesheet">

    <!--[if IE 8]><link href="https://assets.publishing.service.gov.uk/static/fonts-ie8-f5e3c18a96ecb0f37246556a27330202d6e18feffa05a3b67825024609629ac8.css" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="https://assets.publishing.service.gov.uk/static/fonts-5ff8c53913434afd0072a480d7cfca67cace4c8d03f6ef96b78a4455728ce745.css" media="all" rel="stylesheet">
<!--<![endif]-->
    <!--[if lt IE 9]><script src="https://assets.publishing.service.gov.uk/static/ie-75db9d4df4993de5335d6e49013362743a78107245bcf6543337a0ecc0a95b41.js"></script><![endif]-->

    <link rel="shortcut icon" href="https://assets.publishing.service.gov.uk/static/favicon-8d811b8c3badbc0b0e2f6e25d3660a96cc0cca7993e6f32e98785f205fc40907.ico" type="image/x-icon">
    <link rel="mask-icon" href="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown-a0097118fe9226ce1ffde1ccfeb86c61be3607915046196c99f68b9548485ad3.svg" color="#0b0c0c">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-152x152-55dd2af7a53abb7dd14ba6a3c6c3fc786c57a074ba809f6dd767e186955a87e1.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-120x120-92580784afc35143f96b8cf5614e221427fdea444aeb13d912c879e884af7336.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-76x76-9b193f39cde53b92ba555efed856bcd103d6d1dc650919eb9f29dbe5f442cfb0.png">
    <link rel="apple-touch-icon-precomposed" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-60x60-0af0a7cf886701647210f13b661e607b7223bc3221b6d275718a89af79b3e7b9.png">

    <meta name="theme-color" content="#0b0c0c">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://assets.publishing.service.gov.uk/static/opengraph-image-a1f7d89ffd0782738b1aeb0da37842d8bd0addbd724b8e58c3edbc7287cc11de.png">

      <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/static-aef7da4e09793d93bbeb1d6ce15bc652b1d738e2e755f672d721f14c3031a406.css">
<!--<![endif]-->
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/static-ie6-ea6359ba241bfb421c12cbea6f42b47a1aabd363aae166e93defe5c9bf9c44cf.css" /><script>var ieVersion = 6;</script><![endif]-->
<!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/static-ie7-f46dce2f3fec6ebc1faa6e3ba77af9e94af4bdda243fcf31b376fb0d29f53e33.css" /><script>var ieVersion = 7;</script><![endif]-->
<!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/static-ie8-a7e50cd72cd69741063e71d2c6467d7581eb8568c6137826cff9bb65a21304f6.css" /><script>var ieVersion = 8;</script><![endif]-->

<link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/static-print-9b251ce5c99281534420c111a6190e2de5190f3ef291016023052691ececd2e3.css">


  <link title="Search" rel="search" type="application/opensearchdescription+xml" href="/search/opensearch.xml">
<!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/frontend/application-e4f48832561f1dbad5732b9235b6b9c620fb92432f3b3717b281c8abd5d7318d.css">
<!--<![endif]--><link rel="alternate" type="application/json" href="/api/search.json?q=bm">
<meta name="description" content="Search for 'bm' on GOV.UK.">
<meta name="govuk:ab-test" content="SearchFormatBoosting:A" data-analytics-dimension="42">
<meta name="robots" content="noindex">
<meta name="govuk:format" content="search">
<meta name="govuk:schema-name" content="special_route">
<meta name="govuk:user-journey-stage" content="finding">
<meta name="govuk:navigation-document-type" content="other">
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/frontend/application-ie6-8f53d24c156b6f42520c6b4970eb4e4f0964a3a0cd5b41455f4bf5cb46f15c5c.css" /><![endif]--><!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/frontend/application-ie7-4cd750e7798a13c7f37efab1d076add35309938d5642cdec33d5080eb7b5a87d.css" /><![endif]--><!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/frontend/application-ie8-94b9ad185b218531b300333ca458a5485c52ecd38055444183ab07dd2d8a398d.css" /><![endif]--><meta name="govuk:search-result-count" content="43">
<meta name="govuk:rendering-application" content="frontend">
</head>

  <body class="mainstream search">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    

    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
        <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
    </div>

    <header role="banner" id="global-header" class="">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown_invert_trans-203e1db49d3eff430d7dc450ce723c1002542fe1d2bce661b6d8571f14c1043c.png" width="36" height="32" alt=""> GOV.UK
            </a>
          </div>
            

  

        </div>
        
      </div>
    </header>

      <div id="user-satisfaction-survey-container"></div>


    <div id="global-header-bar"></div>

      <div id="wrapper" class="">
        
<div class="govuk-breadcrumbs " data-module="track-click">
  <ol>
  </ol>
</div>


      
        
<main id="content" role="main" class="group search">
  <form action="/search" method="get" accept-charset="utf-8" role="search" class="js-live-search-form">
    <div class="search-header">
      <div class="searchfield">
  <fieldset class="search-input">
    <label for="search-main">
        <h1>Search results for <span class="visuallyhidden">“bm”</span>
</h1>
    </label>

    <input type="search" name="q" value="bm" id="search-main">

    
    
    
    
  </fieldset>

  <fieldset class="search-submit">
    <button type="submit" class="button">Search</button>
  </fieldset>
</div>


    </div>

    <div id="results" class="js-live-search-results-block">
      <div aria-live="assertive" class="js-aria-live-count visuallyhidden">43 found</div>
        <div class="filter-form">
    <div class="inner-block">
      <p class="info">Filter by:</p>

        <div class="filter checkbox-filter js-openable-filter closed" tabindex="0">
          <div class="head">
            <span class="legend">Organisations</span>
            <div class="controls">
              <a class="clear-selected  js-hidden">Remove filters</a>
              <div class="toggle"></div>
            </div>
          </div>
          <div class="checkbox-container" id="organisations-filter">
            <ul>
                <li>
                  <input type="checkbox" name="filter_organisations[]" value="hm-courts-and-tribunals-service" id="hm-courts-and-tribunals-service">
                  <label for="hm-courts-and-tribunals-service">HM Courts &amp; Tribunals Service (7)</label>
                </li>
                <li>
                  <input type="checkbox" name="filter_organisations[]" value="ministry-of-justice" id="ministry-of-justice">
                  <label for="ministry-of-justice">Ministry of Justice (7)</label>
                </li>
                <li>
                  <input type="checkbox" name="filter_organisations[]" value="foreign-commonwealth-office" id="foreign-commonwealth-office">
                  <label for="foreign-commonwealth-office">Foreign &amp; Commonwealth Office (5)</label>
                </li>
                <li>
                  <input type="checkbox" name="filter_organisations[]" value="hm-revenue-customs" id="hm-revenue-customs">
                  <label for="hm-revenue-customs">HM Revenue &amp; Customs (5)</label>
                </li>
                <li>
                  <input type="checkbox" name="filter_organisations[]" value="ministry-of-defence" id="ministry-of-defence">
                  <label for="ministry-of-defence">Ministry of Defence (4)</label>
                </li>
                <li>
                  <input type="checkbox" name="filter_organisations[]" value="driver-and-vehicle-standards-agency" id="driver-and-vehicle-standards-agency">
                  <label for="driver-and-vehicle-standards-agency">Driver and Vehicle Standards Agency (3)</label>
                </li>
                <li>
                  <input type="checkbox" name="filter_organisations[]" value="employment-tribunal" id="employment-tribunal">
                  <label for="employment-tribunal">Employment Tribunal (3)</label>
                </li>
                <li>
                  <input type="checkbox" name="filter_organisations[]" value="home-office" id="home-office">
                  <label for="home-office">Home Office (3)</label>
                </li>
                <li>
                  <input type="checkbox" name="filter_organisations[]" value="upper-tribunal-administrative-appeals-chamber" id="upper-tribunal-administrative-appeals-chamber">
                  <label for="upper-tribunal-administrative-appeals-chamber">Upper Tribunal (Administrative Appeals Chamber) (3)</label>
                </li>
                <li>
                  <input type="checkbox" name="filter_organisations[]" value="hm-treasury" id="hm-treasury">
                  <label for="hm-treasury">HM Treasury (2)</label>
                </li>
                <li>
                  <input type="checkbox" name="filter_organisations[]" value="marine-accident-investigation-branch" id="marine-accident-investigation-branch">
                  <label for="marine-accident-investigation-branch">Marine Accident Investigation Branch (2)</label>
                </li>
                <li>
                  <input type="checkbox" name="filter_organisations[]" value="valuation-office-agency" id="valuation-office-agency">
                  <label for="valuation-office-agency">Valuation Office Agency (2)</label>
                </li>
                <li>
                  <input type="checkbox" name="filter_organisations[]" value="advisory-committee-on-business-appointments" id="advisory-committee-on-business-appointments">
                  <label for="advisory-committee-on-business-appointments">Advisory Committee on Business Appointments (1)</label>
                </li>
                <li>
                  <input type="checkbox" name="filter_organisations[]" value="british-museum" id="british-museum">
                  <label for="british-museum">British Museum (1)</label>
                </li>
                <li>
                  <input type="checkbox" name="filter_organisations[]" value="commission-on-human-medicines" id="commission-on-human-medicines">
                  <label for="commission-on-human-medicines">Commission on Human Medicines (1)</label>
                </li>
                <li>
                  <input type="checkbox" name="filter_organisations[]" value="competition-and-markets-authority" id="competition-and-markets-authority">
                  <label for="competition-and-markets-authority">Competition and Markets Authority (1)</label>
                </li>
                <li>
                  <input type="checkbox" name="filter_organisations[]" value="department-for-communities-and-local-government" id="department-for-communities-and-local-government">
                  <label for="department-for-communities-and-local-government">Department for Communities and Local Government (1)</label>
                </li>
                <li>
                  <input type="checkbox" name="filter_organisations[]" value="department-for-education" id="department-for-education">
                  <label for="department-for-education">Department for Education (1)</label>
                </li>
                <li>
                  <input type="checkbox" name="filter_organisations[]" value="department-for-international-development" id="department-for-international-development">
                  <label for="department-for-international-development">Department for International Development (1)</label>
                </li>
                <li>
                  <input type="checkbox" name="filter_organisations[]" value="first-tier-tribunal-asylum-support" id="first-tier-tribunal-asylum-support">
                  <label for="first-tier-tribunal-asylum-support">First-tier Tribunal (Asylum Support) (1)</label>
                </li>
                <li>
                  <input type="checkbox" name="filter_organisations[]" value="natural-england" id="natural-england">
                  <label for="natural-england">Natural England (1)</label>
                </li>
                <li>
                  <input type="checkbox" name="filter_organisations[]" value="vehicle-and-operator-services-agency" id="vehicle-and-operator-services-agency">
                  <label for="vehicle-and-operator-services-agency">Closed organisation: Vehicle and Operator Services Agency (1)</label>
                </li>
            </ul>
          </div>
        </div>

      <div class="submit js-live-search-fallback">
        <input type="submit" class="button" value="Submit filters">
      </div>
    </div>
  </div>

<div class="results-block">
  <div class="inner-block js-live-search-results-list">
    <div class="result-count " id="js-live-search-result-count" aria-hidden="true">
        43 results found
    </div>
    
      <ol class="results-list" id="js-live-search-results" start="1" data-search-query="bm" data-analytics-ecommerce data-ecommerce-start-index="1">
            <li>
              <h3><a href="/government/organisations/british-museum" data-ecommerce-row data-ecommerce-path="/government/organisations/british-museum" data-ecommerce-content-id="1bd53730-69f4-46e5-8f11-6a5b3934c5bc">British Museum</a></h3>
            
            
            
                <ul class="attributes">
                    <li> <abbr title="British Museum">BM</abbr> </li>
                </ul>
            
            
              <p>The home of British Museum on GOV.UK. The British Museum (<mark>BM</mark>) was the first national public museum in the world. Its permanent collection, over 8 million works, is amongst the largest and most comprehensive in existence and originates from every continent, illustrating and documenting the story of human culture from its beginnings to the present.</p>
            
            
            
            
            </li>
            <li>
              <h3><a href="/asylum-support-tribunal-decisions/bm-v-secretary-of-state-for-the-home-department-as-14-02-31105" data-ecommerce-row data-ecommerce-path="/asylum-support-tribunal-decisions/bm-v-secretary-of-state-for-the-home-department-as-14-02-31105" data-ecommerce-content-id="b70ce8ba-9b3f-420a-b216-8e27091cc476"><mark>BM</mark> v Secretary of State for the Home Department: AS/14/02/31105</a></h3>
            
            
            
                <ul class="attributes">
                    <li>  8 February 2017 </li>
                    <li> Asylum support decision </li>
                    <li> <abbr title="Ministry of Justice">MOJ</abbr>, <abbr title="HM Courts &amp; Tribunals Service">HMCTS</abbr>, First-tier Tribunal (Asylum Support) </li>
                </ul>
            
            
              <p>Asylum Support Tribunal decision of Judge Carter on 17 March 2014.</p>
            
            
            
            
            </li>
            <li>
              <h3><a href="/administrative-appeals-tribunal-decisions/secretary-of-state-for-work-and-pensions-v-bm-rp-2016-ukut-419-aac" data-ecommerce-row data-ecommerce-path="/administrative-appeals-tribunal-decisions/secretary-of-state-for-work-and-pensions-v-bm-rp-2016-ukut-419-aac" data-ecommerce-content-id="9c841003-9817-40b3-8493-f74e3f944d3e">Secretary of State for Work and Pensions v <mark>BM</mark> (RP): [2016] UKUT 419 (AAC)</a></h3>
            
            
            
                <ul class="attributes">
                    <li>  1 December 2016 </li>
                    <li> Utaac decision </li>
                    <li> <abbr title="Ministry of Justice">MOJ</abbr>, <abbr title="HM Courts &amp; Tribunals Service">HMCTS</abbr>, Upper Tribunal (Administrative Appeals Chamber) </li>
                </ul>
            
            
              <p>Upper Tribunal Administrative Appeals Chamber decision by Judge Markus on 26 September 2016.</p>
            
            
            
            
            </li>
            <li>
              <h3><a href="/administrative-appeals-tribunal-decisions/sm-v-secretary-of-state-for-work-and-pensions-and-bm-csm-v-2016-ukut-245-aac" data-ecommerce-row data-ecommerce-path="/administrative-appeals-tribunal-decisions/sm-v-secretary-of-state-for-work-and-pensions-and-bm-csm-v-2016-ukut-245-aac" data-ecommerce-content-id="06803d9b-ca20-4d12-a9b3-9a9f0218e59d">SM v Secretary of State for Work and Pensions and <mark>BM</mark> (CSM): [2016] UKUT 245 (AAC); [2016] AACR 47</a></h3>
            
            
            
                <ul class="attributes">
                    <li>  6 February 2017 </li>
                    <li> Utaac decision </li>
                    <li> <abbr title="Ministry of Justice">MOJ</abbr>, <abbr title="HM Courts &amp; Tribunals Service">HMCTS</abbr>, Upper Tribunal (Administrative Appeals Chamber) </li>
                </ul>
            
            
              <p>Upper Tribunal Administrative Appeals Chamber decision by Judge Knowles on 20 May 2016.</p>
            
            
            
            
            </li>
            <li>
              <h3><a href="/maib-reports/sinking-of-twin-beam-trawler-margaretha-maria-off-lizard-point-england-with-loss-of-4-lives" data-ecommerce-row data-ecommerce-path="/maib-reports/sinking-of-twin-beam-trawler-margaretha-maria-off-lizard-point-england-with-loss-of-4-lives" data-ecommerce-content-id="ac8095b7-1807-4aa8-bcbd-617f50a520ea">Capsize and sinking of twin beam trawler Margaretha Maria with loss of 4 lives</a></h3>
            
            
            
                <ul class="attributes">
                    <li> 23 January 2015 </li>
                    <li> MAIB report </li>
                    <li> <abbr title="Marine Accident Investigation Branch">MAIB</abbr> </li>
                </ul>
            
            
              <p>Location: Off Lizard Point, England.</p>
            
            
            
            
            </li>
            <li>
              <h3><a href="/maib-reports/person-struck-by-port-fishing-gear-on-twin-beam-scallop-dredger-geeske-while-hauling-fishing-gear-off-beachy-head-england-with-loss-of-1-life" data-ecommerce-row data-ecommerce-path="/maib-reports/person-struck-by-port-fishing-gear-on-twin-beam-scallop-dredger-geeske-while-hauling-fishing-gear-off-beachy-head-england-with-loss-of-1-life" data-ecommerce-content-id="7dd2e26b-dc51-4a68-ab78-9be5df9661be">Person struck by port fishing gear on twin beam scallop dredger Geeske while hauling fishing gear with loss of 1 life</a></h3>
            
            
            
                <ul class="attributes">
                    <li> 23 January 2015 </li>
                    <li> MAIB report </li>
                    <li> <abbr title="Marine Accident Investigation Branch">MAIB</abbr> </li>
                </ul>
            
            
              <p>Location: Off Beachy Head, England. 
</p>
            
            
            
            
            </li>
            <li>
              <h3><a href="/government/publications/babcock-terms-of-business-agreement" data-ecommerce-row data-ecommerce-path="/government/publications/babcock-terms-of-business-agreement" data-ecommerce-content-id="5c8e9c22-7631-11e4-a3cb-005056011aef">Babcock terms of business agreement</a></h3>
            
            
            
                <ul class="attributes">
                    <li> 12 September 2011 </li>
                    <li> FOI release </li>
                    <li> <abbr title="Ministry of Defence">MOD</abbr> </li>
                </ul>
            
            
              <p>Terms of business agreement between the Secretary of State for Defence and Babcock Marine.</p>
            
            
            
            
            </li>
            <li>
              <h3><a href="/guidance/competent-person-scheme-current-schemes-and-how-schemes-are-authorised" data-ecommerce-row data-ecommerce-path="/guidance/competent-person-scheme-current-schemes-and-how-schemes-are-authorised" data-ecommerce-content-id="5e0e3c00-7631-11e4-a3cb-005056011aef">Competent person scheme - current schemes and how schemes are authorised</a></h3>
            
            
            
            
            
              <p>Find out about current competent person schemes to self-certify certain types of building work if you work in building as an installer.</p>
            
            
            
            
            </li>
            <li>
              <h3><a href="/employment-tribunal-decisions/ms-s-jones-v-balance-me-ltd-2300780-2016" data-ecommerce-row data-ecommerce-path="/employment-tribunal-decisions/ms-s-jones-v-balance-me-ltd-2300780-2016" data-ecommerce-content-id="b3e92e64-e3ce-4b64-9cbd-850e2efcb8b1">Ms S Jones v Balance Me Ltd: 2300780/2016</a></h3>
            
            
            
                <ul class="attributes">
                    <li> 15 June 2017 </li>
                    <li> Employment tribunal decision </li>
                    <li> <abbr title="Ministry of Justice">MOJ</abbr>, <abbr title="HM Courts &amp; Tribunals Service">HMCTS</abbr>, Employment Tribunal </li>
                </ul>
            
            
              <p>Employment Tribunal decision.</p>
            
            
            
            
            </li>
            <li>
              <h3><a href="/government/publications/tachograph-special-notice-01-13" data-ecommerce-row data-ecommerce-path="/government/publications/tachograph-special-notice-01-13" data-ecommerce-content-id="5ef61d91-7631-11e4-a3cb-005056011aef">Tachograph special notice 01-13</a></h3>
            
            
            
                <ul class="attributes">
                    <li>  3 January 2014 </li>
                    <li> Guidance </li>
                    <li> <abbr title="Driver and Vehicle Standards Agency">DVSA</abbr> </li>
                </ul>
            
            
              <p>The approved tachograph centre special notice for December 2013.</p>
            
            
            
            
            </li>
            <li>
              <h3><a href="/guidance/rating-manual-section-6-part-3-valuation-of-all-property-classes/section-175-builders-merchants" data-ecommerce-row data-ecommerce-path="/guidance/rating-manual-section-6-part-3-valuation-of-all-property-classes/section-175-builders-merchants" data-ecommerce-content-id="">Rating Manual section 6 part 3: valuation of all property classes: Section 175: builders merchants</a></h3>
            
            
            
                <ul class="attributes">
                    <li> Manual section </li>
                    <li> <abbr title="Valuation Office Agency">VOA</abbr> </li>
                </ul>
            
            
              <p>This publication is intended for Valuation Officers. It may contain links to internal resources that are not available through this version. </p>
            
            
            
            
            </li>
            <li>
              <h3><a href="/administrative-appeals-tribunal-decisions/ld-v-secretary-of-state-for-work-and-pensions-dla-2017-ukut-65-aac" data-ecommerce-row data-ecommerce-path="/administrative-appeals-tribunal-decisions/ld-v-secretary-of-state-for-work-and-pensions-dla-2017-ukut-65-aac" data-ecommerce-content-id="02017ff5-7407-4f17-adc9-8d094eb6baaf">LD v Secretary of State for Work and Pensions (DLA): [2017] UKUT 65 (AAC)</a></h3>
            
            
            
                <ul class="attributes">
                    <li> 24 February 2017 </li>
                    <li> Utaac decision </li>
                    <li> <abbr title="Ministry of Justice">MOJ</abbr>, <abbr title="HM Courts &amp; Tribunals Service">HMCTS</abbr>, Upper Tribunal (Administrative Appeals Chamber) </li>
                </ul>
            
            
              <p>Upper Tribunal Administrative Appeals Chamber decision by Judge Jacobs on 9 February 2017.</p>
            
            
            
            
            </li>
            <li>
              <h3><a href="/cma-cases/britannic-assurance-plc-allianz-cornhill-insurance-plc-s-life-operations" data-ecommerce-row data-ecommerce-path="/cma-cases/britannic-assurance-plc-allianz-cornhill-insurance-plc-s-life-operations" data-ecommerce-content-id="09fb5029-d3ae-4677-8d51-d7a7140fa336">Britannic Assurance plc / Allianz Cornhill Insurance plc's life operations</a></h3>
            
            
            
                <ul class="attributes">
                    <li>  5 May 2005 </li>
                    <li> CMA case </li>
                    <li> <abbr title="Competition and Markets Authority">CMA</abbr> </li>
                </ul>
            
            
              <p>OFT closed case: Completed transaction between Unum and Swiss Life (UK) plc.</p>
            
            
            
            
            </li>
            <li>
              <h3><a href="/government/publications/ict-within-the-department-for-education" data-ecommerce-row data-ecommerce-path="/government/publications/ict-within-the-department-for-education" data-ecommerce-content-id="5e13cc89-7631-11e4-a3cb-005056011aef">ICT within the Department for Education</a></h3>
            
            
            
                <ul class="attributes">
                    <li> 22 December 2010 </li>
                    <li> FOI release </li>
                    <li> <abbr title="Department for Education">DfE</abbr> </li>
                </ul>
            
            
              <p>A Freedom of Information (FOI) disclosure about ICT within the Department for Education.</p>
            
            
            
            
            </li>
            <li>
              <h3><a href="/government/consultations/bovine-tb-comment-on-a-badger-control-licence-application-or-expression-of-interest" data-ecommerce-row data-ecommerce-path="/government/consultations/bovine-tb-comment-on-a-badger-control-licence-application-or-expression-of-interest" data-ecommerce-content-id="11097f97-3dfc-4d2e-94b0-e1bbd61e7c3d">Bovine TB: comment on a badger control licence application or expression of interest</a></h3>
            
            
            
                <ul class="attributes">
                    <li> 26 May 2016 </li>
                    <li> Consultation outcome </li>
                    <li> Natural England </li>
                </ul>
            
            
              <p>Find out how to comment on badger control licence applications or expressions of interest in Cheshire, Cornwall, Devon, Dorset, Gloucestershire, Herefordshire, Somerset, Wiltshire and Worcestershire. </p>
            
            
            
            
            </li>
            <li>
              <h3><a href="/guidance/living-in-madagascar" data-ecommerce-row data-ecommerce-path="/guidance/living-in-madagascar" data-ecommerce-content-id="69c2c83d-edff-450d-8f46-757ac5ecd0c6">Living in Madagascar</a></h3>
            
            
            
            
            
              <p>Advice for British people living in Madagascar, including information on health, education, residence requirements and more. </p>
            
            
            
            
            </li>
            <li>
              <h3><a href="/dfid-research-outputs/do-beta-blockers-prevent-heart-disease-and-strokes-in-people-with-high-blood-pressure-evidence-update-non-communicable-diseases-series-february-2008" data-ecommerce-row data-ecommerce-path="/dfid-research-outputs/do-beta-blockers-prevent-heart-disease-and-strokes-in-people-with-high-blood-pressure-evidence-update-non-communicable-diseases-series-february-2008" data-ecommerce-content-id="b935eedc-fd4b-4a41-9a2e-a8ea015febde">Do beta-blockers prevent heart disease and strokes in people with high blood pressure? Evidence Update, Non-communicable Diseases Series, February 2008.</a></h3>
            
            
            
                <ul class="attributes">
                    <li>  1 January 2008 </li>
                    <li> Dfid research output </li>
                    <li> <abbr title="Department for International Development">DFID</abbr> </li>
                </ul>
            
            
              <p></p>
            
            
            
            
            </li>
            <li>
              <h3><a href="/guidance/council-tax-manual/section-1-introduction-and-essential-background" data-ecommerce-row data-ecommerce-path="/guidance/council-tax-manual/section-1-introduction-and-essential-background" data-ecommerce-content-id="8499bc99-021a-442c-a503-2e2b86ad5eca">Council Tax Manual: Section 1: introduction and essential background</a></h3>
            
            
            
                <ul class="attributes">
                    <li> Manual section </li>
                    <li> <abbr title="Valuation Office Agency">VOA</abbr> </li>
                </ul>
            
            
              <p>The Valuation Office Agency's (VOA) technical manual for assessing domestic property for Council Tax.</p>
            
            
            
            
            </li>
            <li>
              <h3><a href="/employment-tribunal-decisions/miss-c-packham-v-tesco-stores-ltd-2301038-2015" data-ecommerce-row data-ecommerce-path="/employment-tribunal-decisions/miss-c-packham-v-tesco-stores-ltd-2301038-2015" data-ecommerce-content-id="f077e82e-939c-4158-991a-cd2298c807f2">Miss C Packham v Tesco Stores Ltd: 2301038/2015</a></h3>
            
            
            
                <ul class="attributes">
                    <li> 23 March 2017 </li>
                    <li> Employment tribunal decision </li>
                    <li> <abbr title="Ministry of Justice">MOJ</abbr>, <abbr title="HM Courts &amp; Tribunals Service">HMCTS</abbr>, Employment Tribunal </li>
                </ul>
            
            
              <p>Employment Tribunal decision.</p>
            
            
            
            
            </li>
            <li>
              <h3><a href="/government/organisations/commission-on-human-medicines/about/membership" data-ecommerce-row data-ecommerce-path="/government/organisations/commission-on-human-medicines/about/membership" data-ecommerce-content-id="6055f453-7631-11e4-a3cb-005056011aef">Commission on Human Medicines – Membership</a></h3>
            
            
            
                <ul class="attributes">
                    <li>  5 May 2017 </li>
                    <li> Corporate information </li>
                    <li> <abbr title="Commission on Human Medicines">CHM</abbr> </li>
                </ul>
            
            
              <p>Membership and minutes for the Commission on Human Medicines and its expert advisory groups.</p>
            
            
            
            
            </li>
      </ol>
    
      <ul class="previous-next-navigation">
    
          <li class="next">
            <a href="/search?q=bm&amp;start=20">
              Next <span class="visuallyhidden">page</span>
              <span class="page-numbers">2 of 3</span>
            </a>
          </li>
      </ul>
  </div>
</div>

    </div>
  </form>
</main>

<h3 class="visuallyhidden">No more results for “bm”. <a href="#search-main">Try a different search?</a>
</h3>

      
      
    <div class="report-a-problem-container">
  <div class="report-a-problem-inner">
    <div class="report-a-problem-content">
      <h2>Help us improve GOV.UK</h2>
      <form accept-charset="UTF-8" action="/contact/govuk/problem_reports" method="post">
        <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
        <input id="url" name="url" type="hidden" value="https://www.gov.uk/search?q=bm">
        
          <input id="source" name="source" type="hidden" value="">
        
        
          <input id="page_owner" name="page_owner" type="hidden" value="">
        

        <p>Don’t include personal or financial information like your National Insurance number or credit card details.</p>

        <label for="what_doing">What you were doing</label>
        <input id="what_doing" name="what_doing" type="text">

        <label for="what_wrong">What went wrong</label>
        <input id="what_wrong" name="what_wrong" type="text">

        <div class="button-wrapper">
          <button name="commit" type="submit" class="button">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>


    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">
            <div class="footer-categories">
      <div class="footer-explore">
        <h2>Services and information</h2>

        <ul>
          <li><a href="/browse/benefits">Benefits</a></li>
          <li><a href="/browse/births-deaths-marriages">Births, deaths, marriages and care</a></li>
          <li><a href="/browse/business">Business and self-employed</a></li>
          <li><a href="/browse/childcare-parenting">Childcare and parenting</a></li>
          <li><a href="/browse/citizenship">Citizenship and living in the UK</a></li>
          <li><a href="/browse/justice">Crime, justice and the law</a></li>
          <li><a href="/browse/disabilities">Disabled people</a></li>
          <li><a href="/browse/driving">Driving and transport</a></li>
        </ul>
        <ul>
          <li><a href="/browse/education">Education and learning</a></li>
          <li><a href="/browse/employing-people">Employing people</a></li>
          <li><a href="/browse/environment-countryside">Environment and countryside</a></li>
          <li><a href="/browse/housing-local-services">Housing and local services</a></li>
          <li><a href="/browse/tax">Money and tax</a></li>
          <li><a href="/browse/abroad">Passports, travel and living abroad</a></li>
          <li><a href="/browse/visas-immigration">Visas and immigration</a></li>
          <li><a href="/browse/working">Working, jobs and pensions</a></li>
        </ul>
      </div>

      <div class="footer-inside-government">
        <h2>Departments and policy</h2>

        <ul>
          <li><a href="/government/how-government-works">How government works</a></li>
          <li><a href="/government/organisations">Departments</a></li>
          <li><a href="/government/world">Worldwide</a></li>
          <li><a href="/government/policies">Policies</a></li>
          <li><a href="/government/publications">Publications</a></li>
          <li><a href="/government/announcements">Announcements</a></li>
        </ul>
      </div>
      <hr>
    </div>


        <div class="footer-meta">
          <div class="footer-meta-inner">
              <h2 class="visuallyhidden">Support links</h2>
<ul>
  <li><a href="/help">Help</a></li>
  <li><a href="/help/cookies">Cookies</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/help/terms-conditions">Terms and conditions</a></li>
  <li><a href="/cymraeg" lang="cy" hreflang="cy">Rhestr o Wasanaethau Cymraeg</a></li>
  <li>Built by the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a>
</li>
</ul>



            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
          </div>

          <div class="copyright">
            <a href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="https://assets.publishing.service.gov.uk/static/govuk-template-c4f303154d2a238bdda4d5cf1ebd8d4487822e4cbc3e4c83e743da869443ce72.js"></script>

      <script src="https://assets.publishing.service.gov.uk/static/libs/jquery/jquery-1.12.4-cb0decd18b4b0abbece3cfc180d9adc8e11dfa693cf34c2ff1ffcda86e725301.js"></script>
<script src="https://assets.publishing.service.gov.uk/static/application-5332917f2389f042a6bbe2b57a04005b0ef85df63dc8bd3b1cfabb1a2fe6f78c.js"></script>
<script src="https://assets.publishing.service.gov.uk/static/surveys-0ea813e3e92f37e5b63871d2f031a1d53154cc42e4dd7a0e8b30536c804b2dd0.js"></script>



    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  <script src="https://assets.publishing.service.gov.uk/frontend/frontend-7176d3ce93c3826327118c3f342b34a92d84983979b94b6f49dea059975d88b0.js"></script>
</body>
</html>
