{% extends "layout_bsa.html" %}
 

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

  <h1 class="heading-xlarge">Something’s gone wrong</h1>
  <p class="text">
This page can’t be found. Check the link you’re using and try again.
  </p>
  <p class="text">
  Go to the <a href="start">start page</a> to try again.</p>

    </div>
    </div>
</main>

{% endblock %}
