{% extends "layout_bsa.html" %}
 

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Service unavailable {until date/time} </h1>
      <p class="text">
      You can’t use this service just now. The problem will be fixed as soon as
      possible.
      </p>
      <p class="text">
      Please try again later.
      </p>

    </div>
    </div>
</main>

{% endblock %}
