{% extends "layout_bsa.html" %}
 

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<style>
 .heading-no-margin {
    margin-top: 0em;
  }
  .column-half {
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
    padding: 1em;
    margin: 1em 0em 1em 1em;
    width: 47%;
    height: 570px;
  }
  @media (max-width: 641px) {
    .column-half {
      width: 92%;
      margin: 1em 1em 0em 1em;
      padding: 15px;
      height: auto;
    }
  }
  .uc-statement {
    width: 100%;
    display: block;
    margin-top: 1em;
  }
 }
 .bullets-child {
  display: block;
  margin-left: 1em;
 }
 .list-child-bullet {
  display: list-item;
  margin-left: 1em;
  margin-top: 0.3em;
 }
 strong {
  font-weight: 700;
 }
 .list-discription {
  margin-bottom: 0.3em;
 }
 .callout--attention {
  border: 8px solid #0072ce;
 }
 .callout {
  padding: 1em 1em 0.1em 1em;
  margin-bottom: 1.5em;
  background-color: #fff
 }
 @media (min-width: 925px) {
  .callout {
    padding: 1em 1em 0.1em 1em;
    margin-bottom: 1.5em
  }
 }
 .callout--info {
  background-color: #f0f4f5;
  border: solid #768692;
  border-width: 0 0 0 4px
 }

.panel-border-narrow { 
  padding-top:0.2em
}
details{
  margin-top: 0.5em
}
.opening-para{
  margin-top: 1em;
}
.govuk-related-items {
 border-top:10px solid #005ea5;
 padding-top:5px
}
.govuk-related-items h2 {
 font-weight:700;
 text-transform:none;
 font-size:18px;
 line-height:1.2;
 margin-top:0.3em;
 margin-bottom:0.5em
}
@media (min-width: 641px) {
 .govuk-related-items h2 {
  font-size:24px;
  line-height:1.25
 }
}
.govuk-related-items .description {
 font-weight:400;
 text-transform:none;
 font-size:14px;
 line-height:1.14286
}
@media (min-width: 641px) {
 .govuk-related-items .description {
  font-size:16px;
  line-height:1.25
 }
}
.govuk-related-items ul {
 padding:0;
 margin:0;
 font-weight:400;
 text-transform:none;
 font-size:14px;
 line-height:1.14286;
 list-style:none;
 margin-bottom:1.25em
}
@media (min-width: 641px) {
 .govuk-related-items ul {
  font-size:16px;
  line-height:1.25
 }
}
.govuk-related-items ul li {
 padding:0;
 margin-bottom:0.75em
}
.govuk-related-items ul li.related-items-more {
 font-weight:bold
}
.add-title-margin {
 margin-top:15px
}
@media (min-width: 641px) {
.add-title-margin {
  margin-top:45px
 }
}

</style>

<main id="content" role="main">

  <a href="javascript:history.go(-1)" class="link-back">Back</a>


    <div class="grid-row">
      <div class="column-two-thirds">

        <h1 class="heading-large">What type of Jobseeker's Allowance (JSA) do you get?</h1>
 <p>There are 2 types of JSA, income-based and contributions-based.</p>
<details>
              <summary><span class="summary">Where to find out your JSA type</span></summary>
                <div class="" id="details-content-0" aria-hidden="false">
                <h3 class="heading-small">
                Your Jobseeker's Allowance letter
                </h3>

                  <p>The type of JSA you get is shown on page 3 or 4, under the heading <strong>‘How your Jobseeker's Allowance was worked out’</strong>. It will say either:</p>

                    <ul class="list-bullet">  
                     <li>'We call this <strong>Income-based</strong> Jobseeker's Allowance, or</li>
                     <li>'We call this <strong>contribution-based'</strong>Jobseeker's Allowance.</li>
                    </ul>

                 <br>
                    <p>Find out more about the <a href="https://www.gov.uk/employment-support-allowance/types-of-esa" target="_blank">different types of ESA</a>.</p>
                    <p>If you're still unsure contact the <a href="https://www.gov.uk/contact-jobcentre-plus/existing-benefit-claims">Jobcentre Plus Helpline</a>.</p>
<!-- 
                <img class="uc-statement" src="/public/images/bsa/jsa-contribution-letter2.png" alt="an image showing that your type of JSA is shown towards the bottom of your letter."> -->
              </div>
            </details>

        <form action="esa-handler" method="get" class="form">

        <div class="form-group">
          <fieldset>
            <legend class="visuallyhidden">
            What type of Jobseeker's Allowance (JSA) do you get?
            </legend>
          <br>

          <div class="multiple-choice" style="line-height: 1.25; padding-bottom: 0.6em">
            <input id="esa" type="radio" name="benefits" value="esa">
            <label for="esa" id="esa" class=" block-label">

              <p class="list-discription">Income-based</span> JSA</p>
              <span class="font-xsmall">Usually you get this if you've not paid enough Class 1 National Insurance contributions, were self-employed or if you've been getting JSA longer than 6 months</span>
          </label>
        </div>

          <div class="multiple-choice" style="line-height: 1.25; padding-bottom: 0.6em">
            <input id="esa" type="radio" name="benefits" value="esa">
            <label for="esa" id="esa" class=" block-label">

              <p class="list-discription">Contribution-based JSA</p>
            </label>
          </div>
          </fieldset>
        </div>



            <br>
      
        <!-- submit button -->
        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>

        </form>

      </div>

    </div>

</main>
{% endblock %} 


