{% extends "layout_bsa.html" %}
 

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<style>
 .heading-no-margin {
    margin-top: 0em;
  }
  .column-half {
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
    padding: 1em;
    margin: 1em 0em 1em 1em;
    width: 47%;
    height: 570px;
  }
  @media (max-width: 641px) {
    .column-half {
      width: 92%;
      margin: 1em 1em 0em 1em;
      padding: 15px;
      height: auto;
    }
  }
  .uc-statement {
    width: 100%;
    display: block;
    margin-top: 1em;
  }
 }
 .bullets-child {
  display: block;
  margin-left: 1em;
 }
 .list-child-bullet {
  display: list-item;
  margin-left: 1em;
  margin-top: 0.3em;
 }
 strong {
  font-weight: 700;
 }
 .list-discription {
  margin-bottom: 0.3em;
 }
 .callout--attention {
  border: 8px solid #0072ce;
 }
 .callout {
  padding: 1em 1em 0.1em 1em;
  margin-bottom: 1.5em;
  background-color: #fff
 }
 @media (min-width: 925px) {
  .callout {
    padding: 1em 1em 0.1em 1em;
    margin-bottom: 1.5em
  }
 }
 .callout--info {
  background-color: #f0f4f5;
  border: solid #768692;
  border-width: 0 0 0 4px
 }

.panel-border-narrow { 
  padding-top:0.2em
}
details{
  margin-top: 0.5em
}
.opening-para{
  margin-top: 1em;
}
.govuk-related-items {
 border-top:10px solid #005ea5;
 padding-top:5px
}
.govuk-related-items h2 {
 font-weight:700;
 text-transform:none;
 font-size:18px;
 line-height:1.2;
 margin-top:0.3em;
 margin-bottom:0.5em
}
@media (min-width: 641px) {
 .govuk-related-items h2 {
  font-size:24px;
  line-height:1.25
 }
}
.govuk-related-items .description {
 font-weight:400;
 text-transform:none;
 font-size:14px;
 line-height:1.14286
}
@media (min-width: 641px) {
 .govuk-related-items .description {
  font-size:16px;
  line-height:1.25
 }
}
.govuk-related-items ul {
 padding:0;
 margin:0;
 font-weight:400;
 text-transform:none;
 font-size:14px;
 line-height:1.14286;
 list-style:none;
 margin-bottom:1.25em
}
@media (min-width: 641px) {
 .govuk-related-items ul {
  font-size:16px;
  line-height:1.25
 }
}
.govuk-related-items ul li {
 padding:0;
 margin-bottom:0.75em
}
.govuk-related-items ul li.related-items-more {
 font-weight:bold
}
.add-title-margin {
 margin-top:15px
}
@media (min-width: 641px) {
.add-title-margin {
  margin-top:45px
 }
}

.import-panel {
    font-weight: bold;
    padding: 20px 0px 10px 40px;
    background: url("/public/images/icon-information.png") no-repeat scroll 0px center;
    }
    .form-hint-list-item--valid{
    color:black;
    }
    .tax-cred-img{
    float: left;
    margin-right: 5px;
     background: url("/public/images/bsa/tax-cert.png") -71px 0;
    width: 21px;
    height: 21px;
}
    .container {
    width: 200px;
    height: 120px;
}

/* resize images */
.container img {
    width: 150%;
    height: auto;
}
.heading-margin{
  margin-top: 0em;
}
.print-link {
 margin-top:2em;
 margin-bottom:2em;
 font-size: 16px;
}
.print-link a {
 background:url(https://assets.publishing.service.gov.uk/government-frontend/icon-print-b04bc2c6b31f73054f79768fd91f76df0b164b247c0905d8ca07b45cfb4f9a3b.png) no-repeat 0 50%;
 padding:0.5em 0 0.5em 28px
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
 .print-link a {
  background-image:url(https://assets.publishing.service.gov.uk/government-frontend/icon-print-2x-685277484e948f6a848f303d3614e422e652a6a6536980501b893d9f4bbd9f4f.png);
  background-size:16px 18px
 }
}


</style>

<main id="content" role="main">

  <a href="javascript:history.go(-1)" class="link-back">Back</a>


    <div class="grid-row">
      <div class="column-two-thirds">

        <h1 class="heading-large">Do you still get tax credits?</h1>

<!-- <h2 class="heading-small">Moving from tax credits to Universal Credit</h2> -->
<p>Universal Credit is a new benefit that will gradually replace tax credits. <br>You cannot claim tax credits and Universal Credit at the same time. </p>
 <details>
              <summary><span class="summary">If you have a tax credit exemption card</span></summary>
                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">

      <p>If you have a tax credit exemption certificate you can continue to use it until the expiry date shown.</p>
       <p>{{partnerbenefits}} children under 20 included on your {{bentype}} claim are also entitled to the same help. </p>
        
<h3 class="heading-small">What the certificate looks like</h2>


<img src="/public/images/bsa/tc-excard.svg" alt="what the tax credit exemption certificate looks like" style="width:50%" />

</details>
<br>


        <form action="universalCredits-handler" method="get" class="form">
        <div class="form-group">
          
          <fieldset class="">
            <legend class="visually-hidden">
              Do {{partnerortext}} claim any benefits or tax credits?
            </legend>

            <div class="multiple-choice">
              <input id="yes" type="radio" name="benefittc" value="yes">
              <label for="yes">Yes, I still get tax credits</label>
            </div>

            <div class="multiple-choice">
              <input id="no" type="radio" name="benefittc" value="no">
              <label for="no">No, I get Universal Credit now</label>
            </div>
            
          </fieldset>  
          
        </div>

      
        <!-- submit button -->
        <div class="form-group">
          <input class="button" type="submit" value="Next" >
        </div>

        </form>

      </div>
    </div>

</main>
{% endblock %} 
