{% extends "layout_bsa.html" %}
 

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<style>
 .heading-no-margin {
    margin-top: 0em;
  }
  .column-half {
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
    padding: 1em;
    margin: 1em 0em 1em 1em;
    width: 47%;
    height: 570px;
  }
  @media (max-width: 641px) {
    .column-half {
      width: 92%;
      margin: 1em 1em 0em 1em;
      padding: 15px;
      height: auto;
    }
  }
  .uc-statement {
    width: 100%;
    display: block;
    margin-top: 1em;
  }
 }
 .bullets-child {
  display: block;
  margin-left: 1em;
 }
 .list-child-bullet {
  display: list-item;
  margin-left: 1em;
  margin-top: 0.3em;
 }
 strong {
  font-weight: 700;
 }
 .list-discription {
  margin-bottom: 0.3em;
 }
 .callout--attention {
  border: 8px solid #0072ce;
 }
 .callout {
  padding: 1em 1em 0.1em 1em;
  margin-bottom: 1.5em;
  background-color: #fff
 }
 @media (min-width: 925px) {
  .callout {
    padding: 1em 1em 0.1em 1em;
    margin-bottom: 1.5em
  }
 }
 .callout--info {
  background-color: #f0f4f5;
  border: solid #768692;
  border-width: 0 0 0 4px
 }

.panel-border-narrow { 
  padding-top:0.2em
}
details{
  margin-top: 0.5em
}
.opening-para{
  margin-top: 1em;
}
.govuk-related-items {
 border-top:10px solid #005ea5;
 padding-top:5px
}
.govuk-related-items h2 {
 font-weight:700;
 text-transform:none;
 font-size:18px;
 line-height:1.2;
 margin-top:0.3em;
 margin-bottom:0.5em
}
@media (min-width: 641px) {
 .govuk-related-items h2 {
  font-size:24px;
  line-height:1.25
 }
}
.govuk-related-items .description {
 font-weight:400;
 text-transform:none;
 font-size:14px;
 line-height:1.14286
}
@media (min-width: 641px) {
 .govuk-related-items .description {
  font-size:16px;
  line-height:1.25
 }
}
.govuk-related-items ul {
 padding:0;
 margin:0;
 font-weight:400;
 text-transform:none;
 font-size:14px;
 line-height:1.14286;
 list-style:none;
 margin-bottom:1.25em
}
@media (min-width: 641px) {
 .govuk-related-items ul {
  font-size:16px;
  line-height:1.25
 }
}
.govuk-related-items ul li {
 padding:0;
 margin-bottom:0.75em
}
.govuk-related-items ul li.related-items-more {
 font-weight:bold
}
.add-title-margin {
 margin-top:15px
}
@media (min-width: 641px) {
.add-title-margin {
  margin-top:45px
 }
}

</style>

<main id="content" role="main">

  <a href="javascript:history.go(-1)" class="link-back">Back</a>


    <div class="grid-row">
      <div class="column-two-thirds">

        <h1 class="heading-large">Do {{partnerortext}} get any of these benefits?</h1>

        <div class="panel panel-border-narrow">
          <p>You need to be sure of the benefit you're getting.</p>

          <!-- <p>You need to be sure of the benefit you are getting, as some benefits, although similar in name <span class= "strong">do not</span> give you the same entitlements.</p> -->

          <p>If you're unsure, check your benefits payment letter or contact the <a href="https://www.gov.uk/contact-jobcentre-plus/existing-benefit-claims">Jobcentre Plus Helpline</a>. </p>
        </div>

        <form action="passportedBen-handler" method="get" class="form">

        <div class="form-group">
          <fieldset>
            <legend class="visuallyhidden">
            Do {{partnerortext}} get any of these benefits?
            </legend>
          <br>

          <div class="multiple-choice">
            <input id="incomeSupport" type="radio" name="benefits" value="incomeSupport">
            <label for="incomeSupport">Income Support</label>
          </div>

          <div class="multiple-choice">
            <input id="uniCredit" type="radio" name="benefits" value="uniCredit">
            <label for="uniCredit">Universal Credit</label>
          </div>

          <div class="multiple-choice" style="line-height: 1.25; padding-bottom: 0.6em">
            <input id="esa" type="radio" name="benefits" value="esa">
            <label for="esa" id="esa" class=" block-label">

              <p class="list-discription">Income-related Employment and Support Allowance (ESA)</p>
              <span class="font-xsmall">There are 2 types of ESA, Income-related and contribution-based. </span>
          </span>

            <details>
              <summary><span class="summary">Where to find out your ESA type</span></summary>
                <div class="" id="details-content-0" aria-hidden="false">

                <h3 class="heading-small">
                Your Employment and Support Allowance letter
                </h3>

                  <p>The type of ESA you get is usually shown on page 3, under the heading <strong>‘Income and Benefits’</strong>. It will say either:</p>

                    <ul class="list-bullet">
                    <li>'your <strong>income-related</strong> entitlement is', or </li>
                    <li>'you are entitled to <strong>contribution based</strong>'</li>
                    </ul>

                  <br>

                  <p>Select 'No' if it says 'you are entitled to contribution based'.</p>
                  <img class="uc-statement" src="/public/images/bsa/ESA-income-letter2.png" alt="an image showing that your type of ESA is shown towards the bottom of your letter.">

           <!--        <p class="opening-para">Further explaination of <a href="https://www.gov.uk/jobseekers-allowance/what-type-you-get">what type of ESA you get</a></p> -->
              </div>
            </details>
          </label>
        </div>

          <div class="multiple-choice" style="line-height: 1.25; padding-bottom: 0.6em">
            <input id="jsa" type="radio" name="benefits" value="jsa">
            <label for="jsa" id="jsa" class=" block-label">

              <p class="list-discription">Income-based Jobseeker's Allowance (JSA)</p>
                <span class="font-xsmall">There are 2 types of JSA, Income-based and contributions-based.
              </span>


              <details>
              <summary><span class="summary">Where to find out your JSA type</span></summary>
                <div class="" id="details-content-0" aria-hidden="false">
                <h3 class="heading-small">
                Your Jobseeker's Allowance letter
                </h3>

                  <p>The type of JSA you get is shown on page 3 or 4, under the heading <strong>‘How your Jobseeker's Allowance was worked out’</strong>. It will say either:</p>

                    <ul class="list-bullet">  
                     <li>'We call this <strong>Income-based</strong> Jobseeker's Allowance, or</li>
                     <li>'We call this <strong>contribution-based'</strong>Jobseeker's Allowance.</li>
                    </ul>

                  <br>

                  <p>Select 'No' if it says 'you are entitled to contribution based'.</p>

                <img class="uc-statement" src="/public/images/bsa/jsa-contribution-letter2.png" alt="an image showing that your type of JSA is shown towards the bottom of your letter.">
              </div>
            </details>
            </label>
          </div>

          <div class="multiple-choice" style="line-height: 1.25; padding-bottom: 0.6em" >
            <input id="penCredit" type="radio" name="benefits" value="penCredit">
            <label for="penCredit" id="penCredit" class=" block-label">

              <p class="list-discription">Pension Credit (Guarantee Credit)</p>
              <span class="font-xsmall">There are 2 types of Pension Credit, Guarantee Credit and Savings Credit
              </span>
            </label>
          </div>

          <p class="form-block">or</p>

          <div class="multiple-choice">
          <input id="continue" type="radio" name="benefits" value="continue">
          <label for="continue">No, {{iwe}} don't get any of these</label>
          </div>

          </fieldset>
        </div>
      
        <!-- submit button -->
        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>

        </form>

      </div>
      <div class="column-third add-title-margin">
    <aside class="govuk-related-items" role="complementary">
      <h2 class="heading-small">
        Different types of benefit
      </h2>

      <nav role="navigation">
        <ul>
            <li>
              <a href="https://www.gov.uk/employment-support-allowance/types-of-esa" target="_blank">Employment and Support Allowance (ESA)</a>
            </li>
            <li>
              <a href="https://www.gov.uk/jobseekers-allowance/what-type-you-get" target="_blank">Jobseeker's Allowance (JSA)</a>
            </li>
            <li>
              <a href="https://www.gov.uk/pension-credit/eligibility" target="_blank">Pension Credit</a>
            </li>

        </ul>
      </nav>

  </aside>

</div>
    </div>

</main>
{% endblock %} 
