{% extends "layout_bsa.html" %}
 

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}


<main id="content" role="main">
  <h1 class="heading-xlarge">Help paying for NHS costs prototype</h1>

  <h2 class="heading-large">Beta build 1</h2>

    <h3>
    <span class="strong">Eligibity checker</span> </h3>
<br>
    <p>
        <a class="button button-get-started" href="start" id="next">Start</a>
    </p>

         <div class="grid-row">
  <div class="column-two-thirds">
  <h3><span class="strong">Key findings: </span> </h3>

  <ul class="list list-bullet">
    <li>Benefits still hard to understand because of the complexity of DWP letters and process getting them</li>
    <li>End page still needs A/B testing for content</li>
  </ul>
  <br>
    <h3><span class="strong">Hypothesis: </span> </h3>
</div>
 </div>

</main>

{% endblock %}
