{% extends "layout_bsa.html" %}
 

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}


<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

    <h2 class="heading-large">Do you have any of these long-term illnesses?</h2>


                   <ul class="list-bullet">

                 <li><strong>Cancer and are undergoing treatment</strong>
                     <br>Including treatment for the effects of cancer or the effects of cancer treatment.</li>

                 <li><strong>Diabetes insipidus and other forms of hypopituitarism</strong>
                 </li>

                <li><strong>Diabetes mellitus</strong>
                    <br>Where treatment is not by diet alone
                 </li>

              <li><strong>Epilepsy</strong> <br>Which needs continuous anticonvulsive therapy<!--Which needs anti-epileptic drugs (AEDs)--></li>

                 <li><strong>A continuing physical disability</strong>
                     <br>Which means you can't go out without the help of another person</li>

                     <li><strong>A permanent fistula which needs continuous surgical dressing or an appliance</strong>
                     <br>For example, caecostomy, colostomy, laryngos-tomy or ileostomy.</li>

<!--
                 <li><strong>You need a continuous surgical dressing or an appliance</strong>
                     <br>Like a tracheotomy or need to use a stoma</li> another DH vitto
-->

                                <li><strong>Myxoedema</strong>
                     <br>For example, hypothyroidism which needs thyroid hormone replacement</li>

<!--
                 <li><strong>An underactive thyroid gland (Hypothyroidism)</strong>
                     <br>Which needs hormone replacement</li> DH vitto
-->

                  <li><strong>Hypoparathyroidism</strong></li>
<!--
                 <li><strong>An underactive parathyroid gland (Hypoparathyroidism)</strong>
                     <br>Which needs treatment to bring calcium and other minerals back to normal</li>
-->

                <li><strong>Hypoadrenalism, for which specific substitution therapy is essential</strong>
                     <br>For example, Addison’s Disease</li>
<!--
                <li><strong>An underactive adrenal gland (Hypoadrenalism)</strong>
                     <br>Like Addison’s Disease, which needs hormone replacement</li> DH vitto
-->

                <li><strong>Myasthenia gravis</strong></li>

<!--                <li><strong>HIV</strong></li> because DH told us so-->

               </ul>

        <div class="additional-info">If you are unsure about the name of your condition or treatment, check with your doctor. </div><br>

       <form action="illness-b4" method="get" class="form">
      <div class="form-item-wrapper">
        <fieldset>
          <div class="inline-form-groups">
            <div class="form-group">
              <input id="yes" name="illness" type="radio" value="yes">
              <label class="form-control-radio" for="yes">
                Yes
              </label>
            </div>
            <div class="form-group">
              <input id="no" name="illness" type="radio" value="no">
              <label class="form-control-radio" for="no">
                No
              </label>
            </div>
          </div>

        </fieldset>
      </div>

<!--submit button-->
        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>
  </form>
      </div>
    </div>


</main>


{% endblock %}









