{% extends "layout_bsa.html" %}
 

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}
{% block content %}

<style>
.callout--attention {
    border: 8px solid #0072ce;
}
.callout {
 padding:1em 1em 0.1em 1em;
 margin-bottom: 1.5em;
 background-color:#fff
}
@media (min-width: 925px) {
 .callout {
  padding:1em 1em 0.1em 1em;
  margin-bottom: 1.5em
 }
}

.callout--info {
 background-color:#f0f4f5;
 border:solid #768692;
 border-width:0 0 0 4px
}
.strong{
font-weight: 700;
}

.list li{
margin-bottom:0.8em;
}
</style>

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

    <h2 class="heading-large">Do you have any of these long-term illnesses?</h2>

    <div class="callout callout--info">
  <p>If you're unsure about the name of your condition or treatment, check with your doctor. </p>
</div>
      

                   <ul class="list list-bullet">

                 <li><span class="strong">Cancer and are undergoing treatment</span>
                     <br>Including treatment for the effects of cancer or the effects of cancer treatment.</li>

                <li><span class="strong">Diabetes - type 1 or type 2</span>
                    <br>Which needs medication to keep your blood sugar levels stable
                 </li>

              <li><span class="strong">Epilepsy</span> <br>Which needs continuous anticonvulsive therapy</li>

                 <li><span class="strong">A continuing physical disability</span>
                     <br>Which means you can't go out without the help of another person</li>

                     <li><span class="strong">A permanent fistula which needs continuous surgical dressing or an appliance
                     </span>
                     <br>For example, caecostomy, colostomy, laryngos-tomy or ileostomy.</li>

                 <li><span class="strong">Diabetes insipidus and other forms of hypopituitarism</span>

                 <li><span class="strong">Myxoedema</span>
                    <br>For example, hypothyroidism which needs thyroid hormone replacement</li>

                  <li><span class="strong">Hypoparathyroidism</span>
                 <br>Which means your parathyroid glands produce too little parathyroid hormone</li>

                <li><span class="strong">Hypoadrenalism, where specific substitution therapy is essential</span>
                     <br>For example, Addison’s Disease</li>


                <li><span class="strong">Myasthenia gravis</span>
                <br>Where an autoimmune condition affects the nerves and muscles</li>

               </ul>



       <form action="illness-b4" method="get" class="form">
        <div class="form-group">
          
          <fieldset class="inline">
            <legend class="visually-hidden">
              Is your GP practice in Scotland or Wales?
            </legend>

            <div class="multiple-choice">
              <input id="yes" type="radio" name="illness" value="yes">
              <label for="yes">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="no" type="radio" name="illness" value="no">
              <label for="no">No</label>
            </div>
            
          </fieldset>  
          
        </div>
        <br>
          <div class="form-group">
            <input class="button" type="submit"  value="Next">
          </div>

      </form>

      </div>
    </div>


</main>


{% endblock %}









