{% extends "layout_bsa.html" %}
 

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}s

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <h1 class="heading-large">
    Do you live with a partner?
  </h1>

<!--  <p>We use the term partner to mean a person you live with as part of a couple, whether or not you are married or in a civil partnership.</p>  -->

  <p>This means you live together as a couple, you don't have to be married or in a civil partnership.</p>

  <form action="p2-handler" method="get" class="form">
      <div class="form-item-wrapper">
        <fieldset>
          <div class="inline-form-groups">
            <div class="form-group">
              <input type="radio" id="yes" name="partner" value="yes">
              <label class="form-control-radio" for="yes">
                Yes
              </label>
            </div>
            <div class="form-group">
              <input type="radio" id="no" name="partner" value="no">
              <label class="form-control-radio" for="no">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="form-item-wrapper">
<!--submit button-->
        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>
    </div>
      </form>
    </div>
    </div>
</main>

{% endblock %}







