{% extends "layout_bsa.html" %}
 

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<style>

.heading-no-margin{
  margin-top:0em;
}
    .column-half {
            border-style: solid;
    border-width: 2px;
    border-color: lightgray;
    padding: 1em;
    margin: 1em 0em 1em 1em;
    width: 47%;
        height:570px;
    }
    @media (max-width: 641px) {
  .column-half {
    width: 92%;
    margin: 1em 1em 0em 1em;
      padding:15px;
      height:auto;
  }
}
    .uc-statement{
        width:100%;
            display: block;
    margin-top:1em;}
    }

/*    @media (max-width: 641px) {
  .uc-statement {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto }
  }
}*/

.bullets-child {
 display:block;
 margin-left:1em;
}

.list-child-bullet {
 display:list-item;
 margin-left: 1em;
 margin-top: 0.3em;
}
strong{
  font-weight:700;
}
.list-discription{
  margin-bottom:0.3em;
}
.callout--attention {
    border: 8px solid #0072ce;
}
.callout {
 padding:1em 1em 0.1em 1em;
 margin-bottom: 1.5em;
 background-color:#fff
}
@media (min-width: 925px) {
 .callout {
  padding:1em 1em 0.1em 1em;
  margin-bottom: 1.5em
 }
}

.callout--info {
 background-color:#f0f4f5;
 border:solid #768692;
 border-width:0 0 0 4px
}


</style>

<main id="content" role="main">

<a href="javascript:history.go(-1)" class="link-back">Back</a>


 <div class="grid-row">
    <div class="column-two-thirds">

  <h1 class="heading-large">
      Do {{partnerCommaText}} or one of your parents get any of these benefits?
  </h1>

  <form action="passportedBen-u20" method="get" class="form">
    
          <div class="form-group">
          <fieldset>
            <legend class="visuallyhidden">
              Do {{partnerortext}} get any of these benefits?
            </legend>



            <div class="multiple-choice">
              <input id="incomeSupport" type="radio" name="benefits" value="incomeSupport">
              <label for="incomeSupport">Income Support</label>
            </div>
            
            <div class="multiple-choice">
              <input id="uniCredit" type="radio" name="benefits" value="uniCredit">
              <label for="uniCredit">Universal Credit</label>
            </div>
    


            <div class="multiple-choice" style="line-height: 1.25; padding-bottom: 0.6em">
              <input id="esa" type="radio" name="benefits" value="esa">
              <label for="esa" id="esa" class=" block-label">
              <p class="list-discription">Income-related Employment &amp; Support Allowance (ESA) </p>
<span class="bullets-child font-xsmall" >
<!--     <span>There are 2 types of ESA, income-related and contribution-based -->
<!--     <br>Income-related ESA is paid when you've not paid enough Class 1 National Insurance contributions, were self-employed or if you've been getting JSA longer than 6 months </span> -->
<!--     </span> -->
              
              </label>
            </div>


<!--             <div class="multiple-choice">
              <input id="penCredit" type="radio" name="benefits" value="penCredit">
              <label for="penCredit">Pension Credit (Guarantee Credit)</label>
            </div> -->
<div class="multiple-choice" style="line-height: 1.25; padding-bottom: 0.6em">
<input id="jsa" type="radio" name="benefits" value="jsa">
            <label for="jsa" id="jsa" class=" block-label">

    <p class="list-discription">Income-based Jobseeker's Allowance (JSA)</p>
<span class="bullets-child font-xsmall" >
<!--     <span>There are 2 types of JSA, income-based and contributions-based -->
<!--     <br>Income-based JSA is paid when you've not paid enough Class 1 National Insurance contributions, were self-employed or if you've been getting JSA longer than 6 months </span> -->
<!--     </span> -->
</label>
</div>


<div class="multiple-choice" style="line-height: 1.25; padding-bottom: 0.6em" >
<input id="penCredit" type="radio" name="benefits" value="penCredit">
            <label for="penCredit" id="penCredit" class=" block-label">

    <p class="list-discription">Pension Credit (Guarantee Credit)</p>
<span class="bullets-child font-xsmall" >
<!--     <span>There are 2 types of Pension Credit, Guarantee Credit and Savings Credit --><!-- <br>
    Guarantee Credit tops up your weekly income up to: 
    <span class="list-child-bullet" id="">£159.35 (for single people)</span> 
    <span class="list-child-bullet" id="">£243.25 (for couples)</span> -->
<!-- </span> -->
</label>
</div>

<!-- <div class="multiple-choice" style="line-height: 1.31579; padding-bottom:1em">
<input id="penCredit" type="radio" name="benefits" value="penCredit">
            <label for="penCredit" id="penCredit" class=" block-label">

    <span style="line-height:2em">Pension Credit (Guarantee Credit)</span><br>
<span class="bullets-child">
    Guarantee Credit tops up your weekly State Pension.  is topped up by more than: 
    <span class="list-child-bullet" id="">£13.20 a week (for single people)</span> 
    <span class="list-child-bullet" id="severely-disability-allowance">£14.90 (for couples)</span>
</span>
</label>
</div> -->

            <p class="form-block">or</p>
            <div class="multiple-choice">
              <input id="continue" type="radio" name="benefits" value="continue">
              <label for="continue">No, {{iwe}} don't get any of these</label>
            </div>
            
          </fieldset>
        </div>


        </div>
        </div>

<details>

  <summary><span class="summary">Where to find out what benefit type you're getting</span></summary>
  <div class="panel panel-border-narrow column-two-thirds" id="details-content-0" aria-hidden="false">

          <p>There are some benefits with similar names. <br>
          Check the payment letter you got from the Department for Work &amp; Pensions (DWP).</p>
          <p>Select 'No' if you get one of these benefits:</p>
           <ul class="list-bullet">
           <li><span>Contribution-based Job Seekers Allowance</span><span class="hint">&nbsp;(JSA)</span></li>
           <li><span>Contribution-based Employment Support Allowance</span><span class="hint">&nbsp;(ESA)</span></li>
           <li><span>Pension Credit and Savings Credit</span></li>
           </ul>
           <BR>
           <p>If you're still unsure what benefit you get contact
           <a href="https://www.gov.uk/contact-jobcentre-plus/existing-benefit-claims">Jobcentre Plus</a></p>
        </div>
<!-- 
          <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">

          <p class="column-two-thirds" style="margin-top: 0em">
          There are some benefits with similar names.<br>
          Select 'No' if you get one of these benefits:<p>
           <ul class="list-bullet">
           <li><span style="">Contribution-based Job Seekers Allowance</span><span class="hint">&nbsp;(JSA)</span></li>
           <li><span style="">Contribution-based Employment Support Allowance</span><span class="hint">&nbsp;(ESA)</span></li>
           <li><span style="">Pension Credit and Savings Credit</span></li>
           </ul>
           <p class="column-two-thirds">Check the payment letter you got from the Department
for Work &amp; Pensions (DWP).<br>If you're still unsure what benefit you get contact
           <a href="https://www.gov.uk/contact-jobcentre-plus/existing-benefit-claims">Jobcentre Plus</a></p>
        </div> -->
  <div class="grid-row">
   <div class="column-half">
  <h2 class="heading-medium heading-no-margin">
    Employment and Support Allowance
  </h2>
       <p>There are 2 types of ESA, income related and contribution based.</p>
       <p>The type of ESA you get is usually shown on page 3, under the heading <strong>‘Income and Benefits’</strong>. It will say either:</p>
       <ul class="list-bullet">
       <li>'your <strong>income-related</strong> entitlement is' </li>
       <p style="margin: 0em">or</p>
       <li>'you are entitled to <strong>contribution based'</strong></li>
        <img class="uc-statement" style="margin-top:2.4em"src="/public/images/bsa/ESA-income-letter2.png" alt="an image showing that your type of ESA is shown towards the bottom of your letter.">
             </div>
              <div class="column-half">
  <h2 class="heading-medium heading-no-margin">
    Job Seekers Allowance
  </h2>
                  <p>There are 2 types of JSA, income based and contribution based.</p>
                   <p>The type of JSA you get is shown on page 3 or 4, under the heading <strong>‘How your Jobseeker's Allowance was worked out’</strong>. It will say either:</p>
       <ul class="list-bullet">
       <li>'We call this <strong>Income-based</strong> Jobseeker's Allowance, or</li>
       <li>'We call this <strong>contribution-based'</strong>Jobseeker's Allowance.</li>
        <img class="uc-statement" src="/public/images/bsa/jsa-contribution-letter2.png" style="" alt="an image showing that your type of JSA is shown towards the bottom of your letter.">
        </ul>
        </div>

            </details>
<!--             <div class="callout callout--info">
            <p>There are some benefits with similar names.  <BR>
          Select 'No' if you get one of these benefits:</p>
           <ul class="list-bullet">
           <li><span>Contribution-based Job Seekers Allowance</span><span class="hint">&nbsp;(JSA)</span></li>
           <li><span>Contribution-based Employment Support Allowance</span><span class="hint">&nbsp;(ESA)</span></li>
           <li><span>Pension Credit and Savings Credit</span></li>
           </ul>
           <BR>
           </div> -->
             </div>
            <br>


        
<!--submit button-->
        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>
        
      </form>


    </div>
    </div>

</main>
{% endblock %}
