{% extends "layout_bsa.html" %}
 

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
<a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

    <h2 class="heading-large"> Do you want to save your information to return to it later at any time? </h2>
    <p>We can send you an email that allows you to save your progress and return your information at any time.</p>
    

      <form action="" method="get" class="form">
        
        <div class="form-group">
          
          <fieldset class="">
            <legend class="visually-hidden">
              Do you want to save your information to return to it later at any time? 
            </legend>

            <div class="multiple-choice">
              <input id="yes" type="radio" name="diabetes" value="yes">
              <label for="yes">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="no" type="radio" name="diabetes" value="no">
              <label for="no">No</label>
            </div>
 

            
          </fieldset>  
          
        </div>
        
          <div class="form-group">
            <input class="button" type="submit"  value="Next">
          </div>

      </form>




    </div>
    </div>

</main>


{% endblock %}






