{% extends "layout_bsa.html" %}
 

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}
<main id="content" role="main">
<a href="javascript:history.go(-1)" class="link-back">Back</a>


 <div class="grid-row">
    <div class="column-two-thirds">


        <h1 class="heading-large">
          Save and return later
        </h1>
         <form action="save-email-and-phone" method="post" class="form">

          <p>You'll get a link emailed to you that allows you to continue your application.</p>
        
        <div class="form-group">
 


        <fieldset>
          <legend class="visuallyhidden">
            Save and return later
          </legend>

          <div class="form-group">
            <label class="form-label" for="user_email">Email address</label>
            <input class="form-control form-control-3-4" id="user-email-save-and-return" name="user-email" type="text" value="{{data['user-email']}}">
          </div>
          

          <details role="group">

          <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">I don't have an email address</span></summary>

          <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">

            <p>
              If you don't have an email, you can save and return with a text message.
            </p>

            <legend class="visuallyhidden">
              Mobile phone number
            </legend>

            <label class="form-label" for="user_phone">
              Mobile phone number
            </label>
            <input class="form-control" id="user_phone" name="user_phone" type="text">

          </div>

          </details>

 

        </fieldset>
         <br>
        <div class="form-group">
          <input class="button" value="Continue" type="submit">
        </div>

      </form>




    </div>
    </div>

</main>





{% endblock %}








