{% extends "layout_bsa.html" %}
 

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
    <a href="javascript:history.go(-1)" class="link-back">Back</a>


       <!--3- Are you named on a Tax Credits Exemption certificate-->
    <h1 class="heading-large">Do you want to save your application so that you can come back to finish it?</h1>
         <form action="saveReturn-handler" method="get" class="form">

          <p>You'll get a link emailed to you that allows you to continue your application.</p>
        
        <div class="form-group">
          
          <fieldset class="inline">
            <legend class="visually-hidden">
              Are you pregnant or have you given birth in the last 12 months?
            </legend>

            <div class="multiple-choice">
              <input id="yes" type="radio" name="save" value="yes">
              <label for="yes">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="no" type="radio" name="save" value="no">
              <label for="no">No</label>
            </div>
            
          </fieldset>  
          
        </div>
        
          <div class="form-group">
            <input class="button" type="submit"  value="Next">
          </div>

      </form>
      </div>
        </div>

</main>


{% endblock %}








