{% extends "layout_bsa.html" %}
 

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}
<style>
.panel-border-narrow { 
 padding-top:0.2em;
padding-bottom:0.5em;
 margin-top: 1em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }
  table th,
  table td {
    font-family: Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    padding: 0.63158em 1.05263em 0.47368em 0;
    text-align: left;
    border-bottom: 1px solid #bfc1c3; }
    @media (min-width: 641px) {
      table th,
      table td {
        font-size: 19px;
        line-height: 1.31579; } }
  table thead th {
    font-weight: 700; }
  table td:last-child,
  table th:last-child {
    padding-right: 0; }
  table .numeric {
    text-align: right; }
  table td.numeric {
    font-family: Arial, sans-serif;
    border-bottom: 1px solid #bfc1c3;}
  table caption {
    text-align: left; }

.table-font-xsmall th {
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 14px;
  line-height: 1.14286; }
  @media (min-width: 641px) {
    .table-font-xsmall th {
      font-size: 16px;
      line-height: 1.25; } }

.table-font-xsmall td {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1.14286; }
  @media (min-width: 641px) {
    .table-font-xsmall td {
      font-size: 16px;
      line-height: 1.25; } }

.table-font-xsmall th,
.table-font-xsmall td {
  padding: 0.75em 1.25em 0.5625em 0; }


</style>


<main id="content" role="main">
<a href="javascript:history.go(-1)" class="link-back">Back</a>


  <div class="grid-row">
    <div class="column-two-thirds">
        <div class="done-panel">
        <h1 class="heading-xlarge" style="margin-top:0"><span id="done-tick"> </span>Done</h1>
              <h1 class="heading-large" style="margin-top: 0.5em">
        <span class="heading-secondary" style="color:white">Based on what you've told us</span>
        You could save money on NHS prescriptions
      </h1>
      </div>

<!--     <h1 class="heading-large">
        <span class="heading-secondary">Based on what you've told us</span>
        You get help with NHS costs
      </h1> -->
      </div>
      </div>

<!--   <h1 class="heading-large">
      <span class="heading-secondary">Based on what you've told us:</span>
      You could save money on NHS prescriptions</h1>
<BR> -->
  <div class="grid-row">
    <div class="column-two-thirds">
        <p class="lede">You can pay a set price for prescriptions, no matter how many you need.</p>
        <p>A single prescription item costs £8.60. You can prepay for all your prescriptions for:
</p>


       <ul class="list-bullet">
           <li>3 months at £29.10</li>
           <li>12 months at £104</li>
        </ul>
                   <p class="panel panel-border-narrow">To spread the cost, you can prepay yearly with 10 monthly Direct Debit instalments of £10.40.</p>

<h2 class="heading-medium">When it works out cheaper</h2>
                   <p>It is cheaper to prepay if you buy either:</p>
                   <ul class="list-bullet">
                     <li>4 or more prescriptions in 3 months</li>
                     <li>13 or more prescriptions in a year</li>
                   </ul>

        <!-- <h2 class="heading-medium">How much you could save</h2>
        <table>
  <thead>
    <tr>
      <th scope="col" style="width:10%" >Prescriptions per month</th>
      <th class="numeric" scope="col" style="width:10%">With a 12-month<br> prepayment</th>
      <th class="numeric" scope="col" style="width:10%">With a 3-month<br> prepayment</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" style="width:20%">2</th>
      <td class="numeric" style="width:40%; font-weight:400; padding: 0.63158em 1.05263em 0.47368em 0;">over £100</td>
      <td class="numeric" style="width:40%; padding: 0.63158em 0em 0.47368em 0;">over £20</td>
    </tr>
    <tr>
      <th scope="row" style="width:10%">3</th>
      <td class="numeric" style="width:40%; font-weight:400; padding: 0.63158em 1.05263em 0.47368em 0;">over £200</td>
      <td class="numeric" style="width:40%; padding: 0.63158em 0em 0.47368em 0;">over £45</td>
    </tr>
    <tr>
      <th scope="row" style="width:10%">4</th>
      <td class="numeric" style="width:40%; font-weight:400; padding: 0.63158em 1.05263em 0.47368em 0;">over £300</td>
      <td class="numeric" style="width:40%; padding: 0.63158em 0em 0.47368em 0;">over £70</td>
    </tr>
  </tbody>
</table> -->

<br>
        <p><a class="button button-get-started" href="https://apps.nhsbsa.nhs.uk/ppcwebsales/patient.do" id="next">Buy now</a></p>




    </div>


  </div>

</main>

{% endblock %}
