{% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-large">{{partnerandtextdo}} {{parenttext}} household income £15,276 or less?</h2>

<!-- info reveal -->
      <details style="margin-bottom: 1em;">
        <summary role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true">
        <span class="summary">What is a household income?</span>
        </summary>

        <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">

          <p>This is the income that HMRC used to work out your Tax Credit payments for the last tax year.</p>


          <p>You can find your household income on your current tax credit award notice or contact the <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/tax-credits-enquiries">Tax Credit Helpline</a>.</p>
        </div>
      </details>

<!-- radios -->
      <form action="taxcredit-income-handler" method="get" class="form">
        <div class="form-group">

          <fieldset class="inline">
            <legend class="visually-hidden">
              Do you live with a partner?
            </legend>

            <div class="multiple-choice">
              <input id="yes" type="radio" name="taxcreditsIncome" value="yes">
              <label for="yes">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="no" type="radio" name="taxcreditsIncome" value="no">
              <label for="no">No</label>
            </div>

          </fieldset>

        </div>

<!-- button -->

        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>


      </form>
    </div>


  </div>
  </div>

</main>

{% endblock %}