{% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
<a href="javascript:history.go(-1)" class="link-back">Back</a>
  <div class="grid-row">
    <div class="column-two-thirds">

       <!--3- Are you named on a Tax Credits Exemption certificate-->
         <form action="taxcredit-type-handler" method="get" class="form">

    <h2 class="heading-large">What tax credits do {{partnerortext}} get?</h2>

          <div class="form-group">
          <fieldset>
            <legend class="visuallyhidden">
              What tax credits do {{partnerortext}} get?
            </legend>

            <div class="multiple-choice">
              <input id="wtcctc" type="radio" name="taxcreditsType" value="wtcctc">
              <label for="wtcctc">Working Tax Credit and Child Tax Credit together</label>
            </div>
            
            <div class="multiple-choice">
              <input id="ctcdis" type="radio" name="taxcreditsType" value="ctcdis">
              <label for="ctcdis">Working Tax Credit on its own, including a disability element</label>
            </div>
                 
            <div class="multiple-choice">
              <input id="ctc" type="radio" name="taxcreditsType" value="ctc">
              <label for="ctc">Child Tax Credit on its own</label>
            </div>

            <div class="multiple-choice">
              <input id="wtc" type="radio" name="taxcreditsType" value="wtc">
              <label for="wtc">Working Tax Credit on its own</label>
            </div>

            <p class="form-block">or</p>
            <div class="multiple-choice">
              <input id="no" type="radio" name="taxcreditsType" value="no">
              <label for="no">No, {{iwe}} don't get tax credits</label>
            </div>
            
          </fieldset>
        </div>

        <details>

  <summary><span class="summary">I'm not sure what type I get</span></summary>

       <p>To find out what help with NHS costs you're entitled to, it's important that you don't guess the answer.</p>
       <p>If you're not sure what tax credits you get:</p>
       <ul class="list-bullet">
       <li>check your tax credit award notice</li>
       <li>contact the <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/tax-credits-enquiries">tax credits helpline</a></li>
       </ul>

            </details>
        <br><br>
<!--submit button-->
        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>
        
      </form>
      
      </div>
      </div>

</main>


{% endblock %}









