{% extends "layout_bsa.html" %}
 

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<style>
.field-errors {
  border: 4px solid #b10e1e;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px 10px 10px 20px;
}

.error-message{
    color: #b10e1e;
}
</style>

<main id="content" role="main">
    
    <h1 style="line-height: 1.04167; padding:30px 0 0 0;" class="heading-large">Add missing information
    
    <span class="contractor">Item {{unpaidItemRunning}} of {{startingUnpaidItemCount}}</span>
    
    </h1>
    
    <hr>
    
    <!--
    
<h1 class="heading-large">Provide missing information</h1>  
    
        <div style="border-bottom: solid 1px #e5f0f9;border-top: solid 1px #e5f0f9; padding-top:10px;">
    
<div style="margin: 0 40%; width: 20%;"><p><strong>Item {{unpaidItemRunning}}</strong> of <strong>{{startingUnpaidItemCount}}</strong></p></div>
    
    </div>

-->
    
     <div class="grid-row" style="margin-top: 20px;">
         
         <div class="column-third"> 
             
            <h2 class="heading-medium">Prescribed</h2>
             
             <span style="margin-top: 10spx; font-size: 19px; font-weight:400; text-transform:none; display:block; color:#6f777b; padding-top:0px; ">Prescribed item</span>
             
             <div style="background-color:#E5F0F9; padding:15px; margin-top:25px; margin-bottom: 38px;">
         
             <ul style="margin: 10px 0 0 20px; list-style-type: disc;">
                <li>{{selectedProductName}}</li>
                <li>{{selectedStrength}}</li>
                <li>{{selectedPresentation}}</li>
                <li>{{selectedQty}}</li>
            </ul>
                 
             </div>
             
             <span style="font-size: 19px; font-weight:400; text-transform:none; display:block; color:#6f777b; padding-top:0px; border-bottom: 1px solid #e5f0f9; padding-bottom: 10px; margin-bottom:10px; margin-top:10px;">Patient details</span>
             
             <h3 class="heading-small">Surname</h3>
             
             <p>{{patientName}} </p>
             
             <h3 class="heading-small">Postcode</h3>
             
             <p>NE12 3AC </p>
             
             <h3 class="heading-small">Date of birth</h3>
             
             <p>{{patientDob}} </p>
             
             <h3 class="heading-small">NHS Number</h3>
             
             <p>{{patientNhsNum}} </p>
             
             </div>
         
        <div class="column-two-thirds">
      
            <h1 class="heading-medium">Dispensed <span style="font-size: 18px; color: grey;">on 19/02/2016</span></h1>
						
            {% if packSizeError=='true' || supplierError=='true' %}
            <div class="field-errors">
            <h2 class="heading-medium">
			Complete the missing information
			</h2>
            <p>All fields must be complete before you can submit this item</p>
            </div>
			{% endif %}
            
            <a href="" style="float:right; ">Tell us if this is incorrect</a>
            
            <span style="font-size: 19px; font-weight:400; text-transform:none; color:#6f777b; padding-top:15px; margin-top: 20px;">You selected this item in EPS</span>
            
            <div style="border: 3px solid #E5F0F9; padding:15px; margin-top:25px; margin-bottom: 25px;">
                      
                      <p><Strong>Product name:</Strong> {{selecteddispensedProductName}}</p>
                      
                      <p><Strong>Quantity:</Strong> {{selectedQty}}</p>
                      
                      <p><Strong>Additional endorsements:</Strong> BB</p>
                      
                      </div> 
            
            <form id="form" action="../submit/{{selectedItemId}}" method="get" class="form">

      <div class="form-item-wrapper">
              
              <fieldset>
                  
            <!--<p><strong><legend  class="form-label">Presentation</legend></strong></p>
            
          <div>
              {{selectedPresentation}}
          </div>
                
        -->
                  
                <span style="font-size: 19px; font-weight:400; text-transform:none; display:block; color:#6f777b; padding-top:0px; border-bottom: 1px solid #e5f0f9; padding-bottom: 10px; margin-bottom:10px;">We need to know</span>
                  
          <div class="form-group {% if supplierError=='true' %} error {% endif %}">
             <p><legend  class="form-label"><strong>Supplier/manufacturer</strong></legend></p>

		  {% if supplierError=='true' %}
				<span class="error-message">You have not entered the supplier/manufacturer is for this item</span>
			{% endif %}		  
            <input name="supplierInput" type="text" id="first-label" class="form-control {% if supplierError=='true' %} field-error {% endif %}">
          </div>
                  
                  
                  
                  
                  <div class="form-group {% if priceError=='true' %} error {% endif %}">
             <p><legend  class="form-label"><strong>Price</strong></legend></p>

		  {% if priceError=='true' %}
				<span class="error-message">You have not entered the price is for this item</span>
			{% endif %}		  
            <input name="priceInput" type="text" id="first-label" class="form-control {% if supplierError=='true' %} field-error {% endif %}">
          </div>
                  
                  
                  
          <div class="form-group {% if packSizeError=='true' %} error {% endif %}" style="margin-bottom:30px;">
             <p><legend  class="form-label" ><strong>Pack size</strong></legend></p>
		  
			{% if packSizeError=='true' %}
				<span class="error-message">You have not entered a pack size for this item</span>
			{% endif %}		  
		  
            <input name="packSizeInput" type="text" id="first-label" class="form-control {% if packSizeError=='true' %} field-error {% endif %}">
          </div>
                  
                  <input type="hidden" name="after" value="{{after}}">
		 <input type="hidden" name="startingUnpaidItemCount" value="{{startingUnpaidItemCount}}">
		 <input type="hidden" name="unpaidItemRunning" value="{{unpaidItemRunning}}">
		 
	  
        <p><a href="#" class="button" onclick="document.getElementById('form').submit(); return false">Submit</a><a style="margin-left:10px" href="" class="button button-secondary">Skip</a></p>
                  
                  </fieldset>
          
           </div>
                 
                 </form>
                  
            <!--<p><legend  class="form-label"><strong>Pack price</strong></legend></p>

-->
        
            <div style="margin-top:20px;">
            
            
                   
             </div>
            
            </div>
         
        
        
    </div>
    
</main>

{% endblock %}
