s{% extends "layout_bsa.html" %}
 

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<style>span.hint {
    color: #6f777b;
}</style>

<main id="content" role="main">
<a href="javascript:history.go(-1)" class="link-back">Back</a>
  <div class="grid-row">
    <div class="column-two-thirds">



             <form action="uc-type-handler" method="get" class="form">
               <h2 class="heading-large">Does {{jointOrText}} Universal Credit include either of these payments?</h2>
      <ul class="list-bullet">
          <li>a child or young person who lives with you</li>
          <li>a disability or health condition that makes it hard for {{partnerOrText}} to work  - this is called limited capability for work</li>
      </ul>

      <div class="form-item-wrapper">
        <fieldset>
          <div class="inline-form-groups">
            <div class="form-group">
              <input id="yes" name="ucElement" type="radio" value="yes">
              <label class="form-control-radio" for="yes">
                Yes
              </label>
            </div>
            <div class="form-group">
              <input id="no" name="ucElement" type="radio" value="no">
              <label class="form-control-radio" for="no">
                No
              </label>
            </div>
          </div>

        </fieldset>
      </div>

<!--submit button-->
        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>

  </form>
      </div>

    </div>


</main>


{% endblock %}






