{% extends "layout_bsa.html" %}
 

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
<a href="javascript:history.go(-1)" class="link-back">Back</a>
  <div class="grid-row">
    <div class="column-two-thirds">



<h2 class="heading-large">Was your net income £435 or less in your last assessment period?</h2>

    <ul class="list-bullet">
    <li>An <strong>assessment period</strong>- will run for a calendar month from the date of your claim, shown on your award notice, and between the same dates each month after that.</li>
    <li><strong>Net income</strong>- is the amount you get paid after your tax, national insurance, and any pension contributions have been taken out of your pay.</li>
    </ul>



    <form action="uc-without-elements-handler" method="get" class="form">
      <div class="form-item-wrapper">
        <fieldset>
          <div class="inline-form-groups">
            <div class="form-group">
              <input type="radio" id="yes" name="ucIncome" value="yes">
              <label class="form-control-radio" for="yes">
                Yes
              </label>
            </div>
            <div class="form-group">
              <input type="radio" id="no" name="ucIncome" value="no">
              <label class="form-control-radio" for="no">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

<!--submit button-->
        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>

  </form>
      </div>
<!--  <div class="column-third " id="lists">

      <div class="right-col-details">



          <h3 class="heading-medium">What you get free </h3>

<ul class="form-hint-list">
    <li class="form-hint-list-item  form-hint-list-item--valid">
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
        Prescriptions
    </li>

    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
         NHS Sight test
    </li>

    <li class="form-hint-list-item form-hint-list-item--valid hidden" id="all">
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
        Glasses or contact lenses
    </li>

            <li class="form-hint-list-item form-hint-list-item--valid hidden" id="all1">
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
        NHS wigs
    </li>

    <li class="form-hint-list-item form-hint-list-item--valid hidden" id="all2">
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
        Travel for treatment
    </li>

    <li class="form-hint-list-item form-hint-list-item--valid hidden" id="all3" >
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
        NHS dental exam
    </li>

    <li class="form-hint-list-item form-hint-list-item--valid hidden" id="all4">
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
         NHS dental treatment
    </li>
</ul>



      </div> -->

    </div>
    </div>

</main>

<!--<script>
$("#yes").click(function(){
    $("#all").removeClass("hidden");
    $("#all1").removeClass("hidden");
    $("#all2").removeClass("hidden");
    $("#all3").removeClass("hidden");
    $("#all4").removeClass("hidden");
}); </script>
<script>
$("#no").click(function(){
    $("#all").addClass("hidden");
    $("#all1").addClass("hidden");
    $("#all2").addClass("hidden");
    $("#all3").addClass("hidden");
    $("#all4").addClass("hidden");
}); </script>
<script>-->

{% endblock %}









