{% extends "layout_bsa.html" %}
 

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<style>
.heading-no-margin{
  margin-top:0em;
}
    .column-half {
            border-style: solid;
    border-width: 2px;
    border-color: lightgray;
    padding: 1em;
    margin: 1em 0em 1em 1em;
    width: 47%;
        height:550px;
    }
    @media (max-width: 641px) {
  .column-half {
    width: 92%;
    margin: 1em 1em 0em 1em;
      padding:15px;
      height:auto;
  }
}
    .uc-statement{
        width:90%;
            display: block;
    margin-left: auto;
    margin-right: auto }
    }

    @media (max-width: 641px) {
  .uc-statement {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto }
  }
}
strong{
  font-weight: 700
}
</style>

<main id="content" role="main">
<a href="javascript:history.go(-1)" class="link-back">Back</a>
  <div class="grid-row">
    <div class="column-two-thirds">



  <h1 class="heading-large">{{singlejointucelement}}</h1>


<p>Take-home pay is what you are paid from work after tax, National Insurance and any pension contributions have been taken out.</p>
</div>
</div>


    <form action="uc-without-elements-handler" method="get" class="form">

<details>

  <summary><span class="summary">Where do I find my take-home pay?</span></summary>
  <div class="grid-row">
   <div class="column-half">
  <h2 class="heading-medium heading-no-margin">
    If you have a Universal Credit account online
  </h2>
       <p>Your take-home pay is shown on your online Statement.</p>
       <p>It's under the heading <span class="strong">'Other support you may be able to get'</span>.</p>
        <img class="uc-statement" src="/public/images/bsa/uc-online.png" alt="an image showing that your take-home pay is towards the bottom of your statement, under the heading 'Other Support you may be able to get" >
             </div>
              <div class="column-half">
  <h2 class="heading-medium heading-no-margin">
    If you get a monthly Universal Credit payment letter
  </h2>
                  <p>Your take-home pay is shown on your Universal Credit monthly payment letter.</p>
                  <p>It's usually on page 2 under the heading <span class="strong">'3. We then take account of your take-home pay'</span>.</p>
        <img class="uc-statement" src="/public/images/bsa/uc-statement-letter.png" style="" alt="an image showing that your take-home pay is on page 2 of your Universal Credit monthly payment letter, under the heading'3. We then take account of your take-home pay'">

            </details>
             </div>
            <br>



  <div class="form-group">
  
          <fieldset class="inline">
            <legend class="visually-hidden">
              {{singlejointucelement}}
            </legend>

            <div class="multiple-choice">
              <input id="yes" type="radio" name="ucIncome" value="yes">
              <label for="yes">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="no" type="radio" name="ucIncome" value="no">
              <label for="no">No</label>
            </div>
            
          </fieldset>  
          
        </div>
        
          <div class="form-group">
            <input class="button" type="submit"  value="Next">
          </div>

      </form>

    </div>
    </div>

</main>

{% endblock %}









