{% extends "layout_bsa.html" %}
 

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}


<main id="content" role="main">
<a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

       <!--3- Are you named on a medical exemption certificate-->
    <h2 class="heading-large">Do you get a war pension?</h2>
             <p>You get a war pension if you have an illness or injury caused by service in the Armed Forces before 6 April 2005. It can be paid weekly or in a lump sum.</p>

       <form action="war-b4handler" method="get" class="form">
      <div class="form-item-wrapper">
        <fieldset>
          <div class="inline-form-groups">
            <div class="form-group">
              <input id="yes" name="warPension" type="radio" value="yes">
              <label class="form-control-radio" for="yes">
                Yes
              </label>
            </div>
            <div class="form-group">
              <input id="no" name="warPension" type="radio" value="no">
              <label class="form-control-radio" for="no">
                No
              </label>
            </div>
          </div>

        </fieldset>
      </div>

<!--submit button-->
        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>

  </form>
      </div>

    </div>


</main>


{% endblock %}






