{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">


  <a href="javascript:history.go(-1)" class="link-back">Back</a>
        <div class="heading-group">
          <p>View an NHS prescription prepayment</p>
          <h1 class="heading-large">Can you give us your mobile phone number or email address?</h1>
        </div>
        <p>We do not have details of your mobile phone number and email adress in our records.</p>
        <p>We can send your prepayment details by text and email, but you will need to update your contact details.</p>



          <div class="form-group">
            <a class="button" href="/change/securityquestion/howdidyoubuy" role="button">Next</a>
          </div>
          <p class="navigation"><a class="cancel" href="../ppc/start">Cancel</a></p>
        </form>


      </div>

    </div>

  </div>

</main>

{% endblock %}
