
{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
  <a href="../../../return/return-view" class="link-back">Back</a>
  <div class="heading-group">
        <p>View an NHS prescription prepayment</p>
    <h1 class="heading-large">Change your details</h1>
  </div>
   <table class="check-table">
        <tr>
          <td>Address:</td>
          <td>{{address}} </td>
          <td><a href="change-address">Change</a></td>
        </tr>
        <tr>
          <td>Mobile number:</td>
          <td id="changemobile">{{number}}</td>
          <td><a href="change-number" id="addorchange">Change</a></td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>{{email}}</td>
          <td><a href="change-email">Change</a></td>
        </tr>
    </table>

    <div style="padding-top:30px">


   <h2><span class="strong">Changing your name</a></h2>
    <p>We need evidence of a change of name. <a href="#">Please email us with evidence</a>.
    <p>Your email should include your name, date of birth, postcode and prepayment number.</p>
  </div>
  <div style="padding-top:30px">
    <!-- <a class="button" type="submit" href="done-change">Submit</a> -->
 </div>
    </div>
    </div>
</main>

{% endblock %}
