{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <!-- <p class="navigation"><a class="back-to-previous">Back</a></p> -->

      <div class="heading-group">
        <p>View an NHS prescription prepayment</p>
        <h1 class="heading-large">Make sure this address is right</h1>
      </div>
      <div class="panel">
        <ul>
          <li><strong class="bold-small">{{lineone}}</strong></li>
          <li><strong class="bold-small">{{linetwo}}</strong></li>
          <li><strong class="bold-small">{{town}}</strong></li>
          <li><strong class="bold-small">{{postcode}}</strong></li>
        </ul>
      </div>
      <p>If you have made a mistake, you can <a href="change-address">try again</a>.</p>

      <a href="done-change" class="button">Submit</a>


    </div>

  </div>

</main>

{% endblock %}
