{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">


  <a href="javascript:history.go(-1)" class="link-back">Back</a>
        <div class="heading-group">
          <p>View an NHS prescription prepayment</p>
          <h1 class="heading-large">We need your new contact details</h1>
        </div>
        <p>You have told us your mobile phone number is different from the contact details we have for you.</p>
        <p>We can send your prepayment details by text, but you will need to update your contact details.</p>
        <p>You will need to answer two security questions about how you prepay for prescriptions before you can change your details.</p>


          <div class="form-group">
            <a class="button" href="securityquestion/howdidyoubuy-2" role="button">Next</a>

          </div>
          <p class="navigation"><a class="cancel" href="../ppc/start">Cancel</a></p>
        </form>


      </div>

    </div>

  </div>

</main>

{% endblock %}
