@import 'unbranded';

// PPC
$break-small: 640px;
$break-medium: 768px;

@mixin res_inputs($width) {
  @media screen and (max-width: $width) {
    width: 100%;
  }
}

$nhs-blue: #005EB8;

#global-header {
  height :170px;
  background: url('/public/images/bsa/header-bsa.svg') transparent;
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 170px;
  .header-wrapper {
    background: transparent;
  }
  #bsa-logo {
    width: 300px;
    margin: 20px 15px 0 0;
    max-width: 100%;
    float: right;
  }
}

//done-page

.done-panel {
  background-color: $nhs-blue;
  text-align: center;
  color: white;
  padding: 20px;
  margin: 30px 0;
  h1 {
    padding-top: 0;
    margin-bottom: 10px;
  }
  h4 {
    padding-top: 0;
  }
  h2 {
    padding-top: 0;
  }
}

#done-tick {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 4px 20px 4px 4px;;
  background-color: $nhs-blue;
  background-image: url('/public/images/bsa/done-tick.png');
  background-repeat: no-repeat;
  background-position: center;
}

.details {
  p {
    margin: 0;
    padding: 0;
  }
  h2 span {
    font-size: 19px;
    font-weight: normal;
    width: 55px;
    display: inline-block;
  }
  .valid {
    margin-top: 15px;
  }  
  background-color: rgba($nhs-blue, 0.1);
  padding: 0 15px 15px 15px;
  margin-bottom: 30px;
}

.info-table {
  span {
    float: right;
    width: 60%;
  }
}

.options-list {
  li {
    width :100%;
    &:first-child {
      margin-bottom: 20px;
    }
  }
}

.print-icon {
  background-image: url("/public/images/bsa/print-2x.svg");
  padding-left: 40px;
}

.download-icon {
  background-image: url("/public/images/bsa/download-2x.svg");
  padding-left: 37px;
  margin-left: 3px;
}

.strong {
  font-weight: bold;
}

//payments
//payments
.card-images img {
  height: 35px;
}

.original-accepted {
  position: relative;
  max-width: 340px;
  margin-bottom: 0px;
  margin-top: 10px;
  z-index: 1;
}

.form-date .form-group {
    float: left;
    width: 50px;
    margin-right: 20px;
    margin-bottom: 0;
    clear: none;
}

.form-date .form-group input {
    width: 100%;
}

#security-number {
  width: 100px;
  float :left;
}

.card-image {
  max-height: 38px;
  padding-top: 10px;
  margin-left: 15px;
  vertical-align: middle;
  float :left;
}

.payment-summary-small {
    border: 10px solid #DEE0E2;
    background-color: #F8F8F8;
    padding: 15px;
    margin-top: 30px;

  h2 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 30px;
  }
  .payment-info {
    font-weight: 700;
  }
  .payment-amount {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 0px;
  }
}

.form-date {
  .form-group {
    input {
      margin-top: 1rem;
    }
  }
}

td.strong {
  margin: 15px 0 ;
  width: 200%;
  display: block;
}

// Layout Styles
.right-floater {
  float: right;
  @media screen and (max-width: $break-medium) {
    float: left;
    width :100%;
    margin: 0 0 30px 0;
    .payment-summary-small {
      margin-top: 10px;
    }
  }
}

.left-floater {
  float: left;
}

.medium-width {
    width: 340px;
    @include res_inputs($break-small);
}

.max-width {
    width: 440px;
    @include res_inputs($break-small);
}

table {
  font-size: 1.5rem;
  tr {
    td {
      width: 35%;
      border: none;
      display: table-cell;
      vertical-align: inherit;
      padding: 2rem 3rem 0 0;
      &:nth-child(2) {
        width: 40%;
        font-weight: 700; 
        padding-right :0;
      }
      &:nth-child(3) {
        padding-right :0;
        width: 20%;
      }
    }
  }
}

.table-head {
  margin: 40px 0 10px 0;
}

.real_table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    td:last-child {
      text-align: right;
    }
    th, td {
      line-height: 200%;
      font-weight: 400;
      text-transform: none;
      padding: 0.6315789474em 1.0526315789em 0.4736842105em 0;
      text-align: left;
      color: #0b0c0c;
      border-bottom: 1px solid #bfc1c3;
      &:nth-child(1) {
        width: 44%;
      }
      &:nth-child(2) {
        width: 35%;
      }
      &:nth-child(3) {
        width: 15%;
      }
    }
}


.multiple-choice {
  background-color: #DEE0E2;
  border :1px solid white;
  padding-left :0;
  margin-bottom: 15px;
      line-height: 195%;
  &:first-child {
    margin-top: 10px;
  }
  &:hover {
    border :1px solid black;
  }
  [type=radio] + label::before {
    background-color: white;
    position: inherit;
    float: left;
    margin-left: -38px;
    margin-top :3px;
    width: 24px;
    height: 24px;
  }
  [type=radio] + label::after {
    left: 17px;
    top: 17px;
    border: 7px solid;
  }
  label {
    float: left;
    margin-left: 48px;
    padding-right: 5px;
  }
}

.inline {
  .multiple-choice {
    label {
      line-height: 195%;
    }
  }
}

.form-break {
  margin-bottom: 0;
  p {
    margin: 0px 0px 6px 0px;
  }
}

.button {
  padding-bottom: 10px;
}

.form-date .form-group-year {
    width: 70px;
}

.panel-hidden{
    margin-bottom:2em;
}

.form-hint-list-item {
  margin: 0 0 0.6em 0;
  display: table;
}

.form-hint-list-item__indicator {
  vertical-align: middle;
  margin-right: .26316em;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../images/bullet-icon.svg");
}


.form-hint-list-item--valid .form-hint-list-item__indicator {
  background-image: url("/public/images/bsa/tick-green.svg");
}

.form-hint-list-item--false {
  color: black;
}

.form-hint-list-item--false .form-hint-list-item__indicator {
  background-image: url("/public/images/bsa/cross-red.svg");
}

.form-hint-list-item__primary {
  display: table-cell;
  padding-right: 0.25em;
}
// Task list pattern

// Override column width for tablet and up
.column-minimum {
  @include media(tablet) {
    min-width: 600px;
  }
}

// Spacing to the left of the task list
$task-list-indent: 35px;

.task-list {
  margin-top: $gutter;
  @include media(tablet) {
    margin-top: ($gutter * 2);
  }
}


.task-list-section {
  display: table;

  @include bold-24;
  padding-bottom: ($gutter / 6);
}

.task-list-section-number {
  display: table-cell;
  padding-right: ($gutter / 6);

  @include media(tablet) {
    min-width: $task-list-indent;
    padding-right: 0;
  }
}


.task-list-items {
  margin-bottom: $gutter;
  @include media(tablet) {
    margin-bottom: ($gutter * 2);
  }

  @include media(tablet) {
    padding-left: $task-list-indent;
  }
}

.task-list-item {
  border-bottom: 1px solid $border-colour;
  padding-top: $gutter-one-third;
  padding-bottom: $gutter-one-third;
  @extend %contain-floats;
}

.task-list-item:first-child {
  border-top: 1px solid $border-colour;
}


.task-name {
  width: $two-thirds;
  float: left;
}

.task-completed {
  @include phase-tag;

  float: right;
  margin-right: 0;
  padding:1px 5px 4px;
  padding-top: 3px;
}

