/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


//google search styles


#logo-container {
  padding-top :190px;
  display: block;
}

body {
  font-family: "Arial";
}

#logo {
  margin-top :500px;
  display: block;
  height: 200px;
  width: 272px;
  margin: 0 auto;
  height: 100px;
}

#logo-small {
  display: block;
  height: 50px;
  width: 120px;
  margin-left: 15px;
  float: left;
}

.logo-image {
  background-image: url("/public/images/bsa/googlelogo_color_272x92dp.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

#input {
  #search {
    border: 1px solid lightgray;
    height: 40px;
    width: 400px;
    margin: 25px auto 0;
    display: block;
    padding :0 10px;
    font-size :18px;
  }
  #button_group {
    width: 360px;
    display: block;
    margin: 25px auto 0;
  }
 #button {
   background-color: #f2f2f2;
   border: 1px solid #f2f2f2;
   color: #757575;
   margin :0 10px;
   line-height: 30px;
   height: 40px;
   width: 130px;
   text-align: center;
   float: left;
    display: block;
   font-weight :bold;
   font-size: 14px;
   text-decoration: none;
   &:hover {
   color: black;
    border: 1px solid black;
   }
   &:first-child {
    margin-left: 37px;
   }
  }
}

//results

.bar {
  background-color: #fafafa;
  height: 65px;
}

.search-bar {
  padding-top: 20px;
}

.fake-search {
  p {
    line-height :40px;
    margin-left :10px;
  }
  width: 600px;
  height: 40px;
  background-color: white;
  border :1px solid darkgrey;
  display: block;
  float: left;
  margin-left: 20px;
}

.tools-bar {
  margin-bottom: 20px;
  border-bottom: 1px solid lightgrey;
  ul {
    padding-top: 20px;
    margin-left :5px;
    li {
      float: left;
      list-style: none;
      display: block;
      width: auto;
      padding: 0 5px;
      margin-right: 30px;
      font-size: 14px;
      height: 42px;
      text-align: center;
      &.selected {
        font-weight: bold;
        color: #4285f4;
        border-bottom: 3px solid #4285f4;
      }
    }
  }
}

.data {
  color: #808080;
  font-size: 12px;
  width: 620px;
  margin: 0 0 20px 150px;
  padding: 0 18px;
}

.container {
  width: 620px;
  height: auto;
  margin-left: 150px;
}

#results {
  font-size: 14px;
  .result{
    padding: 0 18px;
    margin-bottom: 25px;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  .highlight {
    border: 1px solid darkgrey;
    padding: 18px;
    color: black;
    font-size: 15px;
  }
  a {
    font-size: 18px;
    line-height :160%;
    text-decoration: none;
  }
  .sub_link {
      font-size : 14px;
    }
  p {
    color: #545454;
    padding: 0;
    margin :0;
    line-height :140%;
    &.add {
      color: #006621;
      span {
        background-color: #5B936C;
        color: white;
        padding: 2px;
        font-size :70%;
        border-radius: 2px;
      }
    }
  }
  span {
    font-weight: bold;
  }
  h3 {
    font-size : 18px;
    font-weight: normal;
    margin-bottom: 20px;
  }
  ul {
    li {
      list-style: none;
      a {
        font-size: 14px;
        line-height :200%;
        text-decoration: none;
      }
    }
  }
}

.sub-result {
  width: 45%;
  float: left;
  margin-left: 5%;
  margin-top :10px;
  p {
    color: #545454;
    padding: 0;
    margin :0;
    line-height :140%;
  }
  a {
    font-size: 18px;
    line-height :160%;
  }
}

.last-link {
  display: block;
  line-height :200%;
}