{% block nav %}

<main id="main-content" class="main_body">

              <div class="content-header sm-mt-40 mt-20">
        <div class="container">
          <div class="row is-just-between sm-is-direction-row is-direction-column ie-text-right">
                                      <div class="column sm-is-none is-auto ie-is-inline-block ie-is-8 ie-text-left">
                                  <div class="service-name-wrapper">
                    <a href="https://nhsbsabeta.redweb.network/nhs-help-health-costs" class="service-name"> NHS Help with Health Costs</a>
                  </div>
                                <button class="js-search-toggle search-toggle show-from-sm ie-is-hidden"><span class="sr-only">Toggle search</span>
                </button>
              </div>
                                                  <div class="column sm-is-none is-auto search-column ie-is-inline-block ie-is-4">
                <div class="js-search-controller search-controller">
                  <div class="js-search-container">
                    <div class="views-exposed-form bef-exposed-form homepage" data-drupal-selector="views-exposed-form-search-search-block" id="block-search-block" data-block-plugin-id="views_exposed_filter_block:search-search_block" title="Welcome" url="nhsbsabeta.redweb.network%2F">


      <div class="search-block-form searchBar">
    <form block="block-search-block" action="" method="get" id="views-exposed-form-search-search-block" accept-charset="UTF-8">
        <div class="js-form-item form-item js-form-type-textfield form-item-aggregated-field js-form-item-aggregated-field">
      <label for="edit-aggregated-field">Search</label>
        <input placeholder="Search the NHSBSA website" data-drupal-selector="edit-aggregated-field" type="text" id="edit-aggregated-field" name="aggregated_field" value="" size="30" maxlength="128" class="form-text">

        </div>
<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions"><div class="submit-controller">
    <button data-drupal-selector="edit-submit-search" type="submit" id="edit-submit-search" value="Search" class="button js-form-submit form-submit"><span class="submit-inner">Search</span></button>
</div>
</div>


    </form>
</div>

  </div>

                  </div>
                </div>
              </div>
                      </div>

                                <div class="row md-mb-40 mb-20 md-mt--10">
              <div class="column is-12">
                <div id="block-custommenu" data-block-plugin-id="custom_menu_block" class="content_page" title="Prescription prepayment certificates" url="nhsbsabeta.redweb.network%2Fhelp-nhs-prescription-costs%2Fprescription-prepayment-certificates">



            <nav class="service-nav hide-from-md">
    <ul block="block-custommenu" class="nav">
                    <li class="nav-item nav-item--expanded menu-item--active-trail">
        <a id="content-remove" href="https://nhsbsabeta.redweb.network/help-nhs-prescription-costs" data-drupal-link-system-path="node/874">Help with NHS prescription costs</a>
                              <ul class="nav">
                    <li class="nav-item">
        <a href="https://nhsbsabeta.redweb.network/help-nhs-prescription-costs/free-nhs-prescriptions" data-drupal-link-system-path="node/873">Free NHS prescriptions</a>
              </li>
                <li class="nav-item menu-item--active-trail">
        <a href="https://nhsbsabeta.redweb.network/help-nhs-prescription-costs/prescription-prepayment-certificates" data-drupal-link-system-path="node/875" class="is-active">Prescription prepayment certificates</a>
              </li>
                <li class="nav-item">
        <a href="https://nhsbsabeta.redweb.network/help-nhs-prescription-costs/nhs-prescription-charges-news" data-drupal-link-system-path="node/777">NHS prescription charges news</a>
              </li>
            </ul>

              </li>
                <li class="nav-item nav-item--expanded">
        <a href="https://nhsbsabeta.redweb.network/help-nhs-dental-costs" data-drupal-link-system-path="node/1210">Help with NHS dental costs</a>
                              <ul class="nav">
                    <li class="nav-item">
        <a href="https://nhsbsabeta.redweb.network/help-nhs-dental-costs/free-nhs-dental-treatment" data-drupal-link-system-path="node/1211">Free NHS dental treatment</a>
              </li>
                <li class="nav-item">
        <a href="https://nhsbsabeta.redweb.network/help-nhs-dental-costs/replacement-dental-appliances" data-drupal-link-system-path="node/1214">Replacement dental appliances</a>
              </li>
                <li class="nav-item">
        <a href="https://nhsbsabeta.redweb.network/help-nhs-dental-costs/nhs-dental-charges-news" data-drupal-link-system-path="node/1331">NHS dental charges news</a>
              </li>
            </ul>

              </li>
                <li class="nav-item nav-item--expanded">
        <a href="https://nhsbsabeta.redweb.network/help-travel-eye-care-wigs-and-fabric-support-costs" data-drupal-link-system-path="node/1206">Help with travel, eye care, wigs and fabric support costs</a>
                              <ul class="nav">
                    <li class="nav-item">
        <a href="https://nhsbsabeta.redweb.network/help-travel-eye-care-wigs-and-fabric-support-costs/travel-receive-nhs-treatment" data-drupal-link-system-path="node/1207">Travel to receive NHS treatment</a>
              </li>
                <li class="nav-item">
        <a href="https://nhsbsabeta.redweb.network/help-travel-eye-care-wigs-and-fabric-support-costs/sight-tests-glasses-and-contact-lenses" data-drupal-link-system-path="node/1208">Sight tests, glasses and contact lenses</a>
              </li>
                <li class="nav-item">
        <a href="https://nhsbsabeta.redweb.network/help-travel-eye-care-wigs-and-fabric-support-costs/wigs-and-fabric-supports" data-drupal-link-system-path="node/1209">Wigs and fabric supports</a>
              </li>
            </ul>

              </li>
                <li class="nav-item nav-item--expanded">
        <a href="https://nhsbsabeta.redweb.network/nhs-low-income-scheme" data-drupal-link-system-path="node/1203">NHS Low Income Scheme</a>
                              <ul class="nav">
                    <li class="nav-item">
        <a href="https://nhsbsabeta.redweb.network/nhs-low-income-scheme/hc2-certificates" data-drupal-link-system-path="node/1204">HC2 certificates</a>
              </li>
                <li class="nav-item">
        <a href="https://nhsbsabeta.redweb.network/nhs-low-income-scheme/hc3-certificates" data-drupal-link-system-path="node/1205">HC3 certificates</a>
              </li>
            </ul>

              </li>
                <li class="nav-item nav-item--expanded">
        <a href="https://nhsbsabeta.redweb.network/exemption-certificates" data-drupal-link-system-path="node/1199">Exemption certificates</a>
                              <ul class="nav">
                    <li class="nav-item">
        <a href="https://nhsbsabeta.redweb.network/exemption-certificates/medical-exemption-certificates" data-drupal-link-system-path="node/1200">Medical exemption certificates</a>
              </li>
                <li class="nav-item">
        <a href="https://nhsbsabeta.redweb.network/exemption-certificates/maternity-exemption-certificates" data-drupal-link-system-path="node/1201">Maternity exemption certificates</a>
              </li>
                <li class="nav-item">
        <a href="https://nhsbsabeta.redweb.network/exemption-certificates/nhs-tax-credit-exemption-certficates" data-drupal-link-system-path="node/1202">NHS tax credit exemption certficates</a>
              </li>
                <li class="nav-item">
        <a href="https://nhsbsabeta.redweb.network/exemption-certificates/exemption-certificates-news" data-drupal-link-system-path="node/1736">Exemption certificates news</a>
              </li>
            </ul>

              </li>
                <li class="nav-item nav-item--expanded">
        <a href="https://nhsbsabeta.redweb.network/penalty-charges" data-drupal-link-system-path="node/1998">Penalty charges</a>
                              <ul class="nav">
                    <li class="nav-item">
        <a href="https://nhsbsabeta.redweb.network/penalty-charges/dental-exemption-checking-service" data-drupal-link-system-path="node/1212">Dental Exemption Checking Service</a>
              </li>
                <li class="nav-item">
        <a href="https://nhsbsabeta.redweb.network/penalty-charges/prescription-exemption-checking-service" data-drupal-link-system-path="node/1215">Prescription Exemption Checking Service</a>
              </li>
            </ul>

              </li>
            </ul>
    </nav>



  </div>

                <nav class="service-nav-mobile show-from-md ie-is-hidden">


                  <button type="button" name="toggleMobileNav" class="menu-toggle js-menu-toggle">Prescription prepayment</button>
                </nav>
              </div>
            </div>
                  </div>
      </div>

          <div class="contextual-tabs">

      </div>

        <div class="content-row">
      <div class="container tablet-mb-65 mb-25">
        <div class="row mt--15">
          <div class="column is-block lg-is-8 is-12 ie-is-8">

            {% endblock %}
