<footer id="main-footer" class="main_footer">
      <div class="footer-wrap">
        <div class="container">
          <div class="footer-row footer-primary-row">
                          
<div class="header-supporting">
  <nav role="navigation" aria-labelledby="block-footerprimary-menu" id="block-footerprimary" data-block-plugin-id="system_menu_block:footer" class="services_page" title="NHS Help with Health Costs" url="nhsbsabeta.redweb.network%2Fnhs-help-health-costs">
            
    <h2 class="visually-hidden" id="block-footerprimary-menu">Footer primary </h2>
    

              
              <ul class="primary-footer-nav">
              <li class="primary-footer-nav-item">
        <a href="https://nhsbsabeta.redweb.network/welcome" title="Go to the homepage of our website" data-drupal-link-system-path="node/18">NHSBSA Home</a>
              </li>
          <li class="primary-footer-nav-item">
        <a href="https://nhsbsabeta.redweb.network/sitemap" data-drupal-link-system-path="sitemap">Sitemap</a>
              </li>
          <li class="primary-footer-nav-item">
        <a href="https://nhsbsabeta.redweb.network/our-policies/accessibility" data-drupal-link-system-path="node/887">Accessibility</a>
              </li>
          <li class="primary-footer-nav-item">
        <a href="https://nhsbsabeta.redweb.network/contact-us" title="Find the contact details for each of our services" data-drupal-link-system-path="node/735">Contact us</a>
              </li>
        </ul>
  


      </nav>
</div>

                        <div class="footer-logo site-logo">
              <a href="https://nhsbsabeta.redweb.network/" title="Home" class="site-logo-link">
                <img src="{{ asset_path }}web/NHSBSA.gif" width="329px" height="71px" alt="NHS Buisness Services Authority" class="site-logo-image">
              </a>
            </div>
          </div>
        </div>
        <div class="footer-row footer-secondary-row">
          <div class="container">
                          
<div class="header-supporting">
  <nav role="navigation" aria-labelledby="block-footersecondary-menu" id="block-footersecondary" data-block-plugin-id="system_menu_block:footer-secondary" class="homepage" title="Welcome" url="nhsbsabeta.redweb.network%2F">
            
    <h2 class="visually-hidden" id="block-footersecondary-menu">Footer secondary</h2>
    

              
              <ul class="secondary-footer-nav">
              <li class="secondary-footer-nav-item">
        <a href="https://nhsbsabeta.redweb.network/our-policies/terms-and-conditions" title="The terms and conditions of our website" data-drupal-link-system-path="node/888">Terms and conditions</a>
              </li>
          <li class="secondary-footer-nav-item">
        <a href="https://nhsbsabeta.redweb.network/our-policies/privacy" title="Find our privacy policy and cookie information" data-drupal-link-system-path="node/732">Privacy policy &amp; cookies</a>
              </li>
          <li class="secondary-footer-nav-item">
        <a href="https://nhsbsabeta.redweb.network/our-policies/data-protection" title="Find out about FOI and our publication scheme" data-drupal-link-system-path="node/727">Data protection</a>
              </li>
          <li class="secondary-footer-nav-item">
        <a href="https://nhsbsabeta.redweb.network/contact-us/freedom-information" title="Freedom of Information" data-drupal-link-system-path="node/726">Freedom of Information</a>
              </li>
        </ul>
  


      </nav>
</div>

                      </div>
        </div>
      </div>
    </footer>
   </div>

    

    <script>
        // Toggle class indicating that JS is enabled; used for styling purpose.
        document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/,'') + ' js';
    </script>


    <noscript>
        &lt;div class="no-script alert"&gt;
            &lt;p&gt;You currently have &lt;strong&gt;JavaScript disabled&lt;/strong&gt; in your web browser, please &lt;strong&gt;enable JavaScript&lt;/strong&gt; to view our website as intended.&lt;/p&gt;
            &lt;p&gt;&lt;a href="http://www.enable-javascript.com/"&gt;Here are the instructions of how to enable JavaScript in your browser.&lt;/a&gt;&lt;/p&gt;
        &lt;/div&gt;
    </noscript>

    

    <script type="text/javascript">
        var isLoggedIn =  false ;
    </script>


<!-- Custom JS includes -->
    <!--[if (gte IE 10)|(!IE)]><!-->
        <script type="text/javascript" defer="defer" src="{{ asset_path }}web/a.js"></script>
        <script type="text/javascript" defer="defer" src="{{ asset_path }}web/EQCSS.min.js"></script>
    <!--<![endif]-->

    <!--[if lt IE 10]>
        <script type="text/javascript" defer="defer" src="src="/themes/custom/nhsbsa/assets/js/html5shiv.js"></script>
        <script type="text/javascript" defer="defer" src="/themes/custom/nhsbsa/assets/js/b.js"></script>

        <script type="text/javascript">
            // Fix to render / redraw font icons correctly in IE8
            var head = document.getElementsByTagName('head')[0],
                style = document.createElement('style');
            style.type = 'text/css';
            style.styleSheet.cssText = ':before,:after{content:none !important';
            head.appendChild(style);
            setTimeout(function(){
                head.removeChild(style);
            }, 0);
        </script>
    <![endif]-->



</body></html>