{% extends "layout_bsa.html" %}
 

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

  <h1 class="heading-large">
    Do you get help to pay for {{partnersText}} care home from your local council?
  </h1>
  <p>If you're not sure, ask the home manager or matron</p>
  <form action="authority-assessed-handler" method="get" class="form">


        <div class="form-group">
          
          <fieldset class="inline">
            <legend class="visually-hidden">
              Is your GP practice in Scotland or Wales?
            </legend>

            <div class="multiple-choice">
              <input id="yes" type="radio" name="authority" value="yes">
              <label for="yes">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="no" type="radio" name="authority" value="no">
              <label for="no">No</label>
            </div>
            
          </fieldset>  
          
        </div>
        
          <div class="form-group">
            <input class="button" type="submit"  value="Next">
          </div>

      </form>
    </div>
</div>
</main>

{% endblock %}
  

