{% extends "layout_bsa.html" %}
 

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}
<style>
    .form-hint-list-item--valid {
	color:#231f20
}
    .secondary-text{
    color:#667078
}
address{
    margin-bottom: 1em;
    font-style: normal;
}
</style>

<main id="content" role="main">
    <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">
        <div class="done-panel">
        <h1 class="heading-xlarge" style="margin-top:0"><span id="done-tick"> </span>Done</h1>
              <h1 class="heading-large" style="margin-top: 0.5em">
        <span class="heading-secondary" style="color:white">Based on what you've told us</span>
        You can apply for help with NHS costs
      </h1>
      </div>


 <p class="lede">
          Because you get help from your local council to pay for your care home, you're entitled to help.
        </p>

 <h2 class="heading-medium">How to get your help</h2>
  <p>You need to fill in an application form and post it to:</p>

<address>
NHS Low Income Scheme<br>
NHS Business Services Authority<br>
Bridge House<br>
152 Pilgrim Street<br>
Newcastle upon Tyne<br>
NE1 6SN 
</address>

            <ul class="list options-list">        
            <li><a class="icon download-icon" href="../public/images/bsa/HC1SC.pdf" target="_blank">Download and print this form (PDF 50k)</a></li>
      </ul> 
            </p>
<!-- under 20 -->
<!--          <p class="lede">
          Because your parent or guardian gets Child Tax Credit for you and has a household income of £15,276 or less:
        </p> -->

              </div>
      </div>
      <hr>

          <div class="grid-row">
    <div class="column-two-thirds">
    <h2 class="heading-medium" style ="margin-top: 0">What you'll get</h2>
<h2 class="heading-small" >You get free:</h2>


  <ul class="form-hint-list">
    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
        NHS prescriptions
    </li>
    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
        NHS dental treatment
    </li>
    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
        sight tests
    </li>
    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
        NHS wigs and fabric supports
    </li>
  </ul>
<h2 class="heading-small">You get money off:</h2>
    <ul>
    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
       new glasses or contact lenses
    </li>

    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
        repairing or replacing your glasses or contact lenses
    </li>
    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
       travel for NHS treatment
    </li>
  </ul>
 

  </div>
  </div>

</main>


{% endblock %}
