{% extends "layout_bsa.html" %}
 

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}
<style>
    .form-hint-list-item--valid {
	color:#231f20
}
    .secondary-text{
    color:#667078
}
address{
    margin-bottom: 1em;
    font-style: normal;
}
</style>

<main id="content" role="main">
    <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

<h1 class="heading-large">
        <span class="heading-secondary">Based on what you've told us</span>
        You get full help with health costs
      </h1>
  <p class="intro-to-list">
          Because you get help from your local council to pay for your carehome;
        </p>
<h2 class="heading-small">You get free:</h2>


  <ul class="form-hint-list">
    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
        NHS prescriptions
    </li>
    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
        NHS dental treatment
    </li>
    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
        NHS sight tests
    </li>
    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
        NHS wigs and fabric supports
    </li>
  </ul>
<h2 class="heading-small heading-margin">You get some money off the cost of:</h2>
    <ul>
    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
       new glasses or contact lenses
    </li>

    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
        repairing or replacing your glasses or contact lenses
    </li>
    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
       travel for NHS treatment
    </li>
  </ul>

  <h2 class="heading-medium">What you should do next</h2>
  <p>You need to fill in an application form and post it to:</p>

<address>
NHS Low Income Scheme<br>
NHS Business Services Authority<br>
Bridge House<br>
152 Pilgrim Street<br>
Newcastle upon Tyne<br>
NE1 6SN 
</address>

            <ul class="list options-list">        
            <li><a class="icon download-icon" href="../public/images/bsa/HC1SC.pdf" target="_blank">Download and print this form (PDF 50k)</a></li>
      </ul> 
            </p>

  </div>
  </div>

</main>


{% endblock %}
