{% extends "layout_bsa.html" %}

{% block page_title %}
  Change password
{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="grid-row">
  <div class="column-two-thirds">
    <div class="heading-group">
      <p>Pharmacy sales - NHS prescription prepayment</p>
    <h1 class="heading-large">Change password</h1>
  </div>
    <form>
      <div class="form-group">
        <label class="form-label" for="first-name-2">Current password</label>
        <input class="form-control" type="password" id="first-name-2" name="first-name-2" type="text">
      </div>
      <div class="form-group">
        <label class="form-label" for="last-name-2">New password</label>
        <input class="form-control" type="password" id="last-name-2" name="last-name-2" type="text">
      </div>
      <div class="form-group">
        <label class="form-label" for="last-name-2">Confirm new password</label>
        <input class="form-control" type="password" id="last-name-2" name="last-name-2" type="text">
      </div>
        <div class="form-group">
      <a href="password-changed" class="button">Submit</a>
    </div>
  </form>



  </div>
</div>
</main>

{% endblock %}
