{% extends "layout_bsa.html" %}

{% block page_title %}
  Does the customer live outside England?
{% endblock %}

{% block content %}

<main id="content" role="main">
<div class="grid-row">
  <div class="column-two-thirds">
    <div class="heading-group">
      <p>Pharmacy sales - NHS prescription prepayment</p>
    <h1 class="heading-large">Does the customer live outside England?</h1>
  </div>
    <p>The customer must live in England to buy a prescription prepayment. The postcode on the form suggests that they live in Scotland.
</p>
    <p><a href="" class="button">Continue</a></p>
  <p>  <a href="">Cancel</a></p>
  </div>
</div>

</main>

{% endblock %}
