{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">Does the customer live outside England?</h1>
    <p>The customer must live in England to buy a prescription prepayment. The postcode on the form suggests that they live in Scotland.


</p>
    <p><a href="" class="button">Continue</a></p>
  <p>  <a href="">Cancel</a></p>
  </div>
</div>

</main>

{% endblock %}
