{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<main id="content" role="main">
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">Does the customer live outside England?</h1>
    <p class="lede">The customer must live in England to buy a prescription prepayment. The postcode on the form suggests that they live in Scotland.


</p>
    <a href="" class="button">Continue</a>
    <a href="">Cancel</a>
  </div>
</div>

</main>

{% endblock %}
