{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<main id="content" role="main">
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">Is the customer about to turn 60?</h1>
    <p class="lede">It looks like the customer is 59 years old. Please let them know they can get free prescriptions from age 60.
</p>
    <p><a href="" class="button">Continue</a></p>
    <p><a href="">Cancel</a></p>
  </div>
</div>

</main>

{% endblock %}
