{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="grid-row">
  <div class="column-two-thirds">
    <a href="../8" class="link-back">Back</a>
    <h1 class="heading-large">List of all phamarcy web pages</h1>

      <p><a href="/google/index">Journey starting with a Google search</a><br>(enter 'pharmarcy')</li></p>
      <p><a href="../bsa/bsapharmacy">NHSBSA Pharmacy webpage</a><p>

    <h2 class="heading-medium">Register</h2>
    <ul>
      <li><a href="register-your-pharmacy">Register your pharmacy</a></li>
      <li><a href="registration-confirmation">Registration confirmation</a></li>
    </ul>
    <h2 class="heading-medium">Pharmacy sales</h2>
    <ul>
      <li><a href="pharmacy-sales-start">Pharmacy sales</a></li>
      <li><a href="sell-prepayment">Sell an NHS prescription prepayment</a></li>
      <li><a href="sell-ppc">Pharmacy prescription prepayment form</a></li>
      <li><a href="pharmacy-answers">Check your answers</a></li>
      <li><a href="prepayment-complete">Prepayment complete</a></li>
    </ul>
    <h2 class="heading-medium">Change password</h2>
    <ul>
      <li><a href="change-password">Change password</a></li>
      <li><a href="password-changed">Password changed</a></li>
    </ul>
    <h2 class="heading-medium">Errors</h2>
    <ul>
      <li><a href="Error-1">Does the customer live outside England?</a></li>
      <li><a href="Error-2">Is the customer about to turn 60?</a></li>
    </ul>
  </div>
</div>

</main>

{% endblock %}
