{% extends "layout_bsa.html" %}

{% block page_title %}
Password changed
{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="grid-row">
  <div class="column-two-thirds">
    <div class="heading-group">
      <p>Pharmacy sales - NHS prescription prepayment</p>
    <h1 class="heading-large">Password changed </h1>
  </div>

    <p>Pharmacy ODS: PHAR1</p>
    <p>Your password has been changed.</p>
    <div class="form-group">
      <a href="pharmacy-sales-start" class="button">Finish</a>
    </div>




  </div>
</div>
</main>

{% endblock %}
