{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">Password changed</h1>
    <p>Pharmacy ODS: PHAR1</p>
    <p>Your password has been changed.</p>
    <div class="form-group">
      <a href="#" class="button">Finish</a>
    </div>




  </div>
</div>
</main>

{% endblock %}
