{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">Prepayment complete</h1>
    <p>We have received the prescription prepayment information.</p>
    <div class="info-table">
      <p>Prepayment for: <span class="strong">{{name}}</span></p>
      <p>Prepayment number: <span class="strong">869 467 589</span></p>
      <p>Started on: <span class="strong">{{startdate}}</span></p>
      <p>Ends on: <span class="strong" id="Edate">{{enddate}}</span></p>
    </div>

    <p> Please give the customer these details and keep a record of them.</p>
    <h2 class="heading-medium">Payment</h2>
    <p>If the customer has not already paid, the charge is {{cost}}.</p>
    <h2 class="heading-medium">Dispensing prescriptions</h2>
    <p>You should ask customers for prepayment details.</p>
    <p>If they do not have them, tick 'Evidence not seen' on the prescription. Do not charge them.</p>
    <p>We prevent fraud by matching prepayment details on our database with prescriptions.</p>
    <h2 class="heading-medium">Make another sale</h2>
    <p>You can make another sale by returning to the <a href="sell-ppc">pharmacy prescription prepayment form</a>.</p>
    <h2 class="heading-medium">Your feedback</h2>
    <p>Tell us what you think of our online service. We can make improvements with your <a href="">feedback</a>.</p>
  </div>
</div>

</main>

{% endblock %}
