{% extends "layout_bsa.html" %}

{% block page_title %}
  Registration confirmation
{% endblock %}

{% block content %}

<main id="content" role="main">


<div class="grid-row">
  <div class="column-two-thirds">
    <div class="heading-group">
      <p>Pharmacy sales - NHS prescription prepayment</p>
      <h1 class="heading-large">Registration confirmation</h1>
  </div>

    <p>Thank you for registering to sell NHS prescription prepayments.</p>
    <p>We will write to you in the next 7 days about your application.</p>
    <p>You will not be able to use the online service until we give you a password.</p>
    <a class="button" href="pharmacy-sales-start" role="button">Finished</a>
  </div>
</div>

</main>

{% endblock %}
