{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">Register your pharmacy – NHS prescription prepayments</h1>
    <p>You can help your customers save money if they regularly pay for NHS prescriptions.</p>
    <p>Register to sell prescription prepayments by filling in your pharmacy’s details.</p>
    <p>Ensure you have sufficient authority to register from either the owner or head office of your business.</p>

    <form>
      <div class="form-group">
         <label class="form-label" for="title">Title</label>
         <input class="form-control" id="title" name="first-name-2" type="text">
      </div>
      <div class="form-group">
         <label class="form-label" for="first-name">First name</label>
         <input class="form-control" id="first-name" name="first-name" type="text">
      </div>
      <div class="form-group">
         <label class="form-label" for="last-name">Last name</label>
         <input class="form-control" id="last-name" name="last-name" type="text">
      </div>
      <div class="form-group">
         <label class="form-label" for="email">Email address</label>
         <input class="form-control" id="email" name='email' type="text">
      </div>
      <div class="form-group">
         <label class="form-label" for="phamracy-ocs">Telephone number</label>
         <input class="form-control" id="phamracy-ocs" name="phamracy-ocs" type="text">
      </div>



    </form>
    <form>
      <div class="form-group">
        <legend class="bold-medium">Pharmacy details</legend>
      </div>
      <div class="form-group">
         <label class="form-label" for="phamracy-ocs">Pharmacy ODS Code</label>
         <input class="form-control" id="phamracy-ocs" name="phamracy-ocs" type="text">
      </div>
      <div class="form-group">
         <label class="form-label" for="pharmacy-name">Pharmacy name</label>
         <input class="form-control" id="pharmacy-bame" name="pharmacy-name" type="text">
      </div>
      <div class="form-group">
         <label class="form-label" for="phamracy-ocs">Pharmacy address 1</label>
         <input class="form-control" id="phamracy-ocs" name="phamracy-ocs" type="text">
      </div>
      <div class="form-group">
         <label class="form-label" for="phamracy-ocs">Pharmacy address 2</label>
         <input class="form-control" id="phamracy-ocs" name="phamracy-ocs" type="text">
      </div>
      <div class="form-group">
         <label class="form-label" for="phamracy-ocs">Pharmacy address 3</label>
         <input class="form-control" id="phamracy-ocs" name="phamracy-ocs" type="text">
      </div>
      <div class="form-group">
         <label class="form-label" for="phamracy-ocs">Pharmacy address 4</label>
         <input class="form-control" id="phamracy-ocs" name="phamracy-ocs" type="text">
      </div>
      <div class="form-group">
         <label class="form-label" for="phamracy-ocs">Pharmacy postcode</label>
         <input class="form-control" id="phamracy-ocs" name="phamracy-ocs" type="text">
      </div>
      <a class="button" href="registration-confirmation" role="button">Next</a>
    </form>
  </div>
</div>

</main>

{% endblock %}
