{% extends "layout_bsa.html" %}

{% block page_title %}
  Register your pharmacy – NHS prescription prepayments
{% endblock %}

{% block content %}

<main id="content" role="main">


<div class="grid-row">
  <div class="column-two-thirds">
    <div class="heading-group">
      <p>Pharmacy sales - NHS prescription prepayment</p>
      <h1 class="heading-large">Register your pharmacy – NHS prescription prepayments</h1>
  </div>
    <p>You can help your customers save money if they regularly pay for NHS prescriptions.</p>
    <p>Register to sell prescription prepayments by filling in your pharmacy’s details.</p>
    <p>Ensure you have sufficient authority to register from either the owner or head office of your business.</p>

    <form>
      <div class="form-group">
        <fieldset class="inline">
    <label class="form-label" for="title">Title</label>
          <legend class="visually-hidden">Do you already have a personal user account?</legend>

          <label class="block-label selection-button-radio" for="radio-inline-mr">
            <input id="radio-inline-mr" type="radio" name="radio-inline-group" value="Mr">
            Mr
          </label>
          <label class="block-label selection-button-radio" for="radio-inline-mrs">
            <input id="radio-inline-mrs" type="radio" name="radio-inline-group" value="Mrs">
            Mrs
          </label>
          <label class="block-label selection-button-radio" for="radio-inline-miss">
            <input id="radio-inline-miss" type="radio" name="radio-inline-group" value="Miss">
             Miss
          </label>
          <label class="block-label selection-button-radio" for="radio-inline-ms">
            <input id="radio-inline-ms" type="radio" name="radio-inline-group" value="Ms">
             Ms
          </label>

        </fieldset>
      </div>
      <div class="form-group">
         <label class="form-label" for="first-name">First name</label>
         <input class="form-control" id="first-name" name="first-name" type="text">
      </div>
      <div class="form-group">
         <label class="form-label" for="last-name">Last name</label>
         <input class="form-control" id="last-name" name="last-name" type="text">
      </div>
      <div class="form-group">
         <label class="form-label" for="email">Email address</label>
         <input class="form-control" id="email" name='email' type="text">
      </div>
      <div class="form-group">
         <label class="form-label" for="phamracy-ocs">Telephone number</label>
         <input class="form-control" id="phamracy-ocs" name="phamracy-ocs" type="text">
      </div>



    </form>
    <form>
      <div class="form-group">
        <legend class="bold-medium">Pharmacy details</legend>
      </div>
      <div class="form-group">
         <label class="form-label" for="phamracy-ocs">Pharmacy ODS Code</label>
         <input class="form-control" id="phamracy-ocs" name="phamracy-ocs" type="text">
      </div>
      <div class="form-group">
         <label class="form-label" for="pharmacy-name">Pharmacy name</label>
         <input class="form-control" id="pharmacy-bame" name="pharmacy-name" type="text">
      </div>
      <div class="form-group">
         <label class="form-label" for="phamracy-ocs">Building and street</label>
         <input class="form-control" id="phamracy-ocs" name="phamracy-ocs" type="text">
      </div>
      <div class="form-group">
         <input class="form-control" id="phamracy-ocs" name="phamracy-ocs" type="text">
      </div>
      <div class="form-group">
         <label class="form-label" for="phamracy-ocs">Town or city</label>
         <input class="form-control" id="phamracy-ocs" name="phamracy-ocs" type="text">
      </div>
      <div class="form-group">
         <label class="form-label" for="phamracy-ocs">Postcode</label>
         <input class="form-control" id="phamracy-ocs" name="phamracy-ocs" type="text">
      </div>
      <a class="button" href="registration-confirmation" role="button">Next</a>
    </form>
  </div>
</div>

</main>

{% endblock %}
