{% extends "layout_bsa.html" %}

{% block page_title %}
  Sell an NHS prescription prepayment
{% endblock %}

{% block content %}

<main id="content" role="main">
<div class="grid-row">
  <div class="column-two-thirds">
    <div class="heading-group">
      <p>Pharmacy sales - NHS prescription prepayment</p>
    <h1 class="heading-large">Sell an NHS prescription prepayment</h1>
  </div>
    <p>Start an NHS prescription prepayment sale or change your account password.</p>
    <p><a class="button" href="sell-ppc" role="button">Sell a prepayment</a></p>
    <p><a href="change-password">Change your password</a></p>
  </div>
</div>

</main>

{% endblock %}
