{% extends "layout_bsa.html" %}

{% block page_title %}
  View an NHS prescription prepayment
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">

    <div class="column-two-thirds">
      <div class="heading-group">
        <p>View an NHS prescription prepayment</p>
        <h1 class="heading-xlarge">Your prescription prepayment expired on 12 October 2017.</h1>
      </div>
    </div>

    <div class="column-two-thirds">

      <div class="text">
        <p>
        You can <a href="ppc/start">buy a new prescription prepayment</a>.
        </p>
        <p>If you collected a prescription after 12 October 2017 using your expired prepayment certificate, you may get a fine.</p>
        <p>You may be <a href="../bsa/hwhc-v2">entitled to a refund</a> if you collected a refund form (FP57) while collecting your prescriptions.</p>
      </div>

      <br>

        <!-- <p class="button-group">
          <a class="button button-get-started" href="return_date" id="next">
            Access your prepayment details
          </a>
        </p> -->

<!--
        <h3 class="heading-medium">Before you start</h3>
          <p>
            It takes about 5 minutes to complete our form. You need your bank sort code and account number for Direct Debit payments. For card payments you will need your credit or debit card details.
          </p>
-->

<!--
      <p>
        You will be asked if you know your NHS number. It's optional to provide this. Not having it to hand will not affect your ability to buy.
      </p>
-->

<!--
        <h3 class="heading-medium">Existing prepayments</h3>

        <p>If you already have prepaid you can <a class="" href="dob?renew=true" id="next">view, print or change the details</a>.</p>
-->

      </div>

    </div>

  </div>

</main>

{% endblock %}
