{% extends "layout_bsa.html" %}

{% block page_title %}
  View an NHS prescription<br>prepayment
{% endblock %}

{% block content %}

<main id="content" role="main">
    
  <div class="grid-row">
    
    <div class="column-full">
      <div class="heading-group">
        <h1 class="heading-xlarge">View an NHS prescription<br>prepayment</h1>
      </div>
    </div>

    <div class="column-two-thirds">

      <div class="text">
        <p>
         If you already prepay for NHS prescriptions, you can access your prepayment details here.
        </p>
        <p>
         This service allows you to:
        </p>
                        
        <ul class="list list-bullet">
          <li>view your prescription prepayment details</li>
          <li>check when your current prepayment expires</li>
          <li>resend your prepayment details by text/email</li>
          <li>print or download your prepayment details</li>
          <li>change your personal details with us</li>
          <li>request a reminder by text or email</li>
        </ul>
              
      </div>

      <br>
      
        <p class="button-group">
          <a class="button button-get-started" href="return_date" id="next">
            Check your prepayment details
          </a>
        </p>

<!--
        <h3 class="heading-medium">Before you start</h3>
          <p>
            It takes about 5 minutes to complete our form. You need your bank sort code and account number for Direct Debit payments. For card payments you will need your credit or debit card details.
          </p>        
-->
          
<!--
      <p>
        You will be asked if you know your NHS number. It's optional to provide this. Not having it to hand will not affect your ability to buy.
      </p>
-->

<!--
        <h3 class="heading-medium">Existing prepayments</h3>
        
        <p>If you already have prepaid you can <a class="" href="dob?renew=true" id="next">view, print or change the details</a>.</p>        
-->
                 
      </div>
      
    </div>
      
  </div>
  
</main>

{% endblock %}
