{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">


        <div class="heading-group">
          <p>View an NHS prescription prepayment</p>
          <h1 class="heading-large">Your answers do not match our records</h1>
        </div>
        <p>The answers you gave us about your prepayment did not match the information we hold for you.</p>
        <p>If you made an error, <a href="../../../return/return-view">you can try again</a>.</p>
        <p>Alternatively, you can <a href="https://contactcentreservices.nhsbsa.nhs.uk/nhsuk/dispatch/0/60220d31hfe4fc/0/?js=on&Referer=&lang=en_GB&Screen=NHSBSA_ContactForm​">use our contact form</a> or call 0300 330 1341.</p>


      </div>

    </div>

  </div>

</main>

{% endblock %}
