{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<main id="content" class="email" role="main">
    
  <div class="grid-row">
    
    <div class="column-full">
      
      <div class="heading-group">
        
        <h1 class="heading-large">Prescription prepayment</h1>
        
      </div>

    </div>

    <div class="column-two-thirds">

      <div class="text">
        
        <p>
          Dear Jane Doe,<br>
          Your payment was sucessful.
        </p>
        <p>
          You have covered your prescription costs for 3 months.
        </p>
        
        <div class="info-table">
          <h3 class="heading-small">Prepayment details</h3>
          <p>Started on: <span class="strong">15 March 2017</span></p>
          <p>Ends on: <span class="strong">14 June 2017</span></p>
          <p>Prepayment number: <span class="strong">869 467 589</span></p>
        </div>

        <hr>

        <div class="info-table">
          <h3 class="heading-small">Payment details</h3>
          <p>3 month prepayment: <span class="strong">£29.10</span></p>
          <p>Transaction ID: <span class="strong">2278527912</span></p>
          <p>Transaction Date: <span class="strong">30 January 2017</span></p>
          <p>Card Type: <span class="strong">Visa Debit</span></p>
          <p>Card Number: <span class="strong">**** **** **** 4321</span></p>
        </div>

        <hr>

        <h3>Tell us if something changes</h3>
        <p>It is important to tell us if your name or address changes so that they match the details on your prescriptions.</p>
	
        <p>Go to: <a href="#">www.nhs.co.uk/prepay/updatemydetails</a> to keep your details up to date.</p>        
      </div>    
      
    </div>
            
  </div>
  
</main>

{% endblock %}