{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<main id="content" class="email" role="main">
    
  <div class="grid-row">
    
    <div class="column-full">
      
      <div class="heading-group">
        
        <h1 class="heading-large">You prepaid for NHS prescriptions</h1>
        
      </div>

    </div>

    <div class="column-two-thirds">

      <div class="text">
                
        <p>Dear Jane Doe,<br>
        Thank you for using the NHS online service. You have prepaid for prescriptions for 12 months by Direct Debit.</p>
        <div class="info-table">
          <h2 class="heading-medium">Prepayment details</h2>
          <p>Starts: <span class="strong">15 March 2017</span></p>
          <p>Ends: <span class="strong">14 June 2017</span></p>
          <p>Prepayment number: <span class="strong">869 467 589</span></p>
        </div>
        <p>You can show pharmacies this email if they ask for evidence of your prepayment. We do not send out plastic cards any more</p>
        <h2 class="heading-medium">Tell us if something changes</h2>
        <p>Tell us if your name or address changes, so they match the details on your prescriptions. Go to www.nhs.co.uk/prepay/updatemydetails to keep your details up to date.</p>

      </div>    
      
    </div>
            
  </div>
  
</main>

{% endblock %}