{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<main id="content" role="main">
  
  <p class="smalltext"> <a href="/">< Back to all versions</a> </p>
  
  <h2 class="heading-large">Version 2 - Feb/March 2017</h2>
  
  <h3 class="heading-small">Journeys</h3>

  <ul class="list list-bullet">
    <li><a href="/public/images/bsa/versions/s2-dd-payment.pdf">Direct Debit (PDF)</a></li>
    <li><a href="/public/images/bsa/versions/s2-one-off-payment.pdf">Card payment (PDF)</a></li>
    <li>Some users looked at return view.</li>
  </ul>
  <hr>
  <h3 class="heading-small">What we tested</h3>
    <ul class="list list-bullet">
      <li>Added google search results to test wider journey.</li>
      <li>Revised interactions and content for collecting contact details.</li>
      <li>Clearer content throughout.</li>
    </ul>

    <h3 class="heading-small">What we found</h3>
    <ul class="list list-bullet">
      <li>Not clear about plastic cards.</li>
      <li>Not clear that text or email could act as proof.</li>
      <li>Confused around selecting start date.</li>
      <li>Improvements to 'How long do you want to cover your prescriptions for'.</li>
    </ul>

    <h3 class="heading-small">What we changed</h3>
    <ul class="list list-bullet">
      <li>Title of service changed to 'Buy a prescription prepayment'.</li>
      <li>Clearer content on start page.</li>
      <li>Removed refund content on prepayment start date screen.</li>
      <li>Clearer content on 'How long do you want your prepayment...'</li>
      <li>Updated prototype to NHS Business Authority design patterns.</li>
      <li>'You do not need a plastic card' - moved above start button</li>
    </ul>
  </main>

{% endblock %}