{% extends "layout_bsa.html" %}

{% block page_title %}
  Errors
{% endblock %}

{% block content %}

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}
<br>
  <a href="7" class="link-back"> Back to all versions</a>

  <h2 class="heading-large">Errors</h2>

  <ul class="list list-bullet">
    <li><a href="ppc/59">You can get free prescriptions soon</a></li>
    <li><a href="ppc/60">You are entitled to free prescriptions</a></li>
    <li><a href="ppc/PCI">We could not process your payment</a></li>
    <li><a href="ppc/addressnotengland">Your address is not in England</a></li>
    <li><a href="ppc/paybycard">Please pay by card</a></li>
    <li><a href="ppc/pleasecontactus">Please contact us</a></li>
    <li><a href="ppc/notprocess">We could not process your details</a></li>
    <li><a href="ppc/unavailable">Our service is temporarily unavailable</a></li>
  </ul>






</main>

{% endblock %}
