{% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <h1 class="heading-xlarge">Help paying for NHS Costs prototype</h1>

  <h3 class="heading-large">Latest version</h3>

  <p>
    <a href="checker/1/index">Baseline</a>
  </p>
  
  <h3 class="heading-large">Previous versions</h3>
  
  <h3 class="heading-small">Alpha</h3>
  <a href="http://helpwithhealth.herokuapp.com">Alpha prototypes</a>
</main>

{% endblock %}


