{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<main id="content" role="main">

   {% include "includes/phase_banner_beta.html" %}

  <h1 class="heading-xlarge">Prescription prepayment prototypes</h1>

  <h3 class="heading-medium">Latest version</h3>

  <ul class="list list-bullet">
    <li><a href="8">Version 8 - October 2017</a></li>
  </ul>

  <h3 class="heading-medium">Previous versions</h3>

  <ul class="list list-bullet">
    <li><a href="7">Version 7 - August/September 2017</a></li>
    <li><a href="6">Version 6 - July/August 2017</a></li>
    <li><a href="5">Version 5 - June/July 2017</a></li>
    <li><a href="4">Version 4 - April/May 2017</a></li>
    <li><a href="3">Version 3 - March/April 2017</a></li>
    <li><a href="2">Version 2 - Feb/March 2017</a></li>
    <li><a href="1">Version 1 - January 2017</a></li>
  </ul>

</main>

{% endblock %}
