{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<main id="content" role="main">

   {% include "includes/phase_banner_beta.html" %}

  <h1 class="heading-large">Privacy notice</h1>
    <p>The NHS Business Services Authority will process the information supplied by you. </p>
  <p>This is for the purposes of managing your payment for prescription prepayment.</p>


  <h2 class="heading-medium">Your personal information</h2>
  <p>We have gained information from you. We will not share this information with other organisations or individuals.</p>

  <h2 class="heading-medium">Contacting you</h2>
  <p>We may contact you, by any method you have provided, to discuss:</p>
  <ul class="list-bullet">
    <li>your prepayment purchase</li>
    <li>our quality of service to you</li>
  </ul>
  <h2 class="heading-medium">Retaining your personal information</h2>
  <p>We will delete your personal data from our systems and files no later than 7 years after you buy prepayment.</p>
  <p>You are required to provide information to us for statutory/contractual reasons.</p>
  <h2 class="heading-medium">Consent</h2>
  <p>You consent to the disclosure of relevant information to the NHSBSA.</p>
  <h2 class="heading-medium">Cookies</h2>
  <p>When we provide services to you, we want to make them easy, useful and reliable.</p>
  <p>Where we deliver online services, it involves placing small files on your device. These are cookies</p>
  <p>Most web browsers allow some control of most cookies through the browser settings.</p>
  <p>To find out more about cookies, visit <a href="www.allaboutcookies.org">www.allaboutcookies.org</a> </p>
  <p>It gives you information on how to:</p>
  <ul class="list-bullet">
    <li>see what cookies have been set</li>
    <li>manage and delete them</li>
  </ul>
  <p>For the prescription prepayment service, we use the cookie:  JSESSIONID.</p>
  <p>This is essential for the service to work and stays on your device until you close your web browser.</p>
  <p>Further details of the other cookies and analytics used on our websites, visit:</p>
  <a href="https://www.nhsbsa.nhs.uk/our-policies/privacy ">https://www.nhsbsa.nhs.uk/our-policies/privacy</a>

  <h2 class="heading-medium">Google Analytics</h2>
  <p>TTo opt out of Google Analytics tracking across all websites, visit:</p>
  <a href="http://tools.google.com/dlpage/gaoptout">http://tools.google.com/dlpage/gaoptout</a>
  <h2 class="heading-medium">Your rights</h2>
  <p>We will not transfer your information outside the UK.</p>
  <p>We manage the information you provide as required by Data Protection law. This includes the General Data Protection Regulations (GDPR).</p>
  <p>You have the right to:</p>
  <ul class="list-bullet">
    <li>receive a copy of the information NHSBSA hold about you</li>
    <li>request changes to your information if you believe it was not correct at the time you provided it</li>
    <li>request deletion of your information if you believe we have it for longer than necessary</li>
  </ul>
  <p>Details of NHSBSA processing appear on our website at:</p>
<p>  <a href="https://www.nhsbsa.nhs.uk/our-policies/data-protection">https://www.nhsbsa.nhs.uk/our-policies/data-protection
</a></p>
<p>To make use of these rights, contact the NHSBSA Data Protection Officer:</p>


  <div class="lesspadding">
  <p>Head of Internal Governance </p>
  <p>NHS Business Services Authority </p>
  <p>Stella House </p>
  <p>Goldcrest Way </p>
  <p>Newburn Riverside </p>
  <p>Newcastle upon Tyne </p>
  <p>NE15 8NY </p>
  <p><a href="nhsbsa.dataprotection@nhs.net">nhsbsa.dataprotection@nhs.net</a></p>
  </div>
     <p>If you have concerns about the processing of your information, you have the right to contact the Data Protection Regulator:</p>
     <div class="lesspadding">
     <p>Information Commissioner’s Office</p>
     <p>Wycliffe House </p>
     <p>Water Lane </p>
     <p>WILMSLOW </p>
     <p>CHESHIRE </p>
     <p>SK9 5AF </p>
     </div>
     <a href="https://ico.org.uk/global/contact-us/email/">https://ico.org.uk/global/contact-us/email/</a>
     <a href="https://ico.org.uk/">https://ico.org.uk/ </p>


</main>

{% endblock %}
