{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<main id="content" role="main">

   {% include "includes/phase_banner_beta.html" %}

  <h1 class="heading-large">Prepay for NHS prescriptions - Terms and Conditions</h1>

  <h2 class="heading-medium">Introduction</h2>
  <p>Prepaying for prescriptions is a service we offer to you, the customer. Your use of this service means you agree to all terms and conditions.</p>

  <h2 class="heading-medium">Legal identity</h2>
  <p>The NHS Business Services Authority is a Special Health Authority. Our head office is at:</p>
  <div class="lesspadding">
  <p>Stella House</p>
  <p>Goldcrest Way</p>
  <p>Newburn Riverside</p>
  <p>Newcastle Upon Tyne</p>
  <p>NE15 8NY</p>
  </div>
  <h2 class="heading-medium">Prepaying for prescriptions</h2>
  <p>This service assists you in deciding about and prepaying for your prescriptions.</p>
  <p>If you do prepay, you confirm you have the legal authority to do so. This includes instructing us to collect payments.</p>
  <p>You agree to be responsible for prepaying. You confirm all information supplied is true and accurate.</p>
  <p>You agree to use the service only for you.</p>
  <p>It is your responsibility to check prepayment details are accurate. We are only responsible for checking details based on your request.</p>
  <p>You should report any errors immediately by e-mail to <a href="">nhsbsa.ppc1@nhsbsa.nhs.uk</a> or by ringing 0300 330 1341. Please have your prepayment number ready.</p>
  <h2 class="heading-medium">Direct Debit instalments</h2>
  <p>If you prepay for 12 months by Direct Debit, you are agreeing to pay all the instalments. If you collect prescriptions after failing to pay an instalment, you may have to pay a penalty charge.</p>
  <p>You are not entitled to collect prescriptions when prepaying if instalments are not kept up. You may choose an alternative method of payment to help keep up your payments.</p>
  <p>If you repeatedly fail to pay Direct Debit instalments, you will not be able to pay by this method in the future.</p>
  <p>We cannot take your first payment for 12 working days.</p>
  <h2 class="heading-medium">Cost of prepaying</h2>
  <p>The Department of Health determines the cost of prepaying. This is subject to change on 1 April each year. The cost of prepaying is the price at the time of buying. This is regardless of the start date requested.</p>
  <h2 class="heading-medium">Start date</h2>
  <p>The start date you specify for prepaying on the form is very important. You can backdate or future-date by up to one calendar month from the day you buy.</p>
  <p>You can start using the service from the start date you specify.</p>
  <p>If your end date is approaching, remember to prepay again in good time. If you claim you have prepaid but it’s expired, you may be liable to a penalty charge.</p>
  <h2 class="heading-medium">Cancellation and refunds</h2>
  <p>You apply for, and we grant you, a digital prescription prepayment certificate when you pay.</p>
  <p>The Consumer Contracts (Information, Cancellation and Additional Charges) Regulations 2013 do not apply.</p>
  <p>All refunds will be at our discretion. Exceptions are set out below.</p>
  <p>If you become entitled to free prescriptions, you may be able to claim back some of the cost of prepaying. For details of how to apply for a refund, go to <a href="https://www.nhsbsa.nhs.uk/help-nhs-prescription-costs/prescription-prepayment-certificates">https://www.nhsbsa.nhs.uk/help-nhs-prescription-costs/prescription-prepayment-certificates</a> or phone 0300 330 1343.</p>
  <p>If you have to pay a prescription charge having already prepaid, you can get a refund. You need to ask for an NHS refund form (FP57) when you pay for your prescription. You can only get an FP57 at the time you pay. You cannot get one later.</p>
  <h2 class="heading-medium">Changes</h2>
  <p>If you change your address, please email nhsbsa.ppc1@nhsbsa.nhs.uk or write to:</p>
  <div class="lesspadding">
  <p>Business Services Authority</p>
  <p>PPC</p>
  <p>Bridge House</p>
  <p>152 Pilgrim Street</p>
  <p>Newcastle Upon Tyne</p>
  <p>NE1 6SN</p>
  </div>
  <p>For a change of name, please send us a copy of your marriage certificate/deed poll and your prepayment details.</p>
  <h2 class="heading-medium">Eligibility</h2>
  <p>The scheme we administer is for people resident in England only.</p>
  <p>A person who is resident in England may use this service throughout the UK.</p>
  <p>The pharmacist may ask to see your prepayment number, start date and end date.</p>
  <p>If you do not have these to hand, they should tick ‘Evidence not seen’ on the prescription. They will dispense prescriptions with no extra charge to you.</p>


</main>

{% endblock %}
