{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

  <h1 class="heading-large">You can get free prescriptions soon</h1>
  <p>The information you gave indicates you are 59 years old.</p>
  <p>Please note that you will be eligible for free prescriptions from the age of 60.</p>
  <p>Press continue to proceed or cancel to stop.
        <p>
          <a class="button" href="name" id="next">Continue</a>
        </p>
    <p><a href="">Cancel</a></p>
    </div>
    </div>
</main>

{% endblock %}
