{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<main id="content" role="main">
    
  <div class="grid-row">
    
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">You are entitled to free prescriptions</h1>
        
      <p>
        You are over the age of 60 and entitled to free prescriptions. You do not need to buy prescription prepayment.
        <!-- pharmacy staff will know your date of birth // leave the site -->
      </p>
      
        <p>
          <a href="/" id="next">Return to NHS Business Services home</a>
        </p>
      
    </div>
    
  </div>
  
</main>

{% endblock %}
