{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<main id="content" role="main">
    
  <div class="grid-row">
    
    <div class="column-full">
      <div class="heading-group">
        <h1 class="heading-xlarge">Save money on prescription<br>costs</h1>
      </div>
    </div>

    <div class="column-two-thirds">

      <div class="text">
        
        <p>
          You can buy prescription prepayment certificates (PPCs) from the NHS which may make your prescriptions cheaper.
        </p>
                
        <p>A 3 or 12 month prescription prepayment covers all your prescriptions for that period, no matter how many you need.</p>

        <p>A prescription costs £8.40 per item, but a prescription prepayment costs:</p>
        
        <ul class="list list-bullet">
          <li>£29.10 for 3 months</li>
          <li>£104 for 12 months</li>
        </ul>
        
         <p> This means if you’re going to buy 4 or more prescriptions in 3 months, or 13 or more prescriptions in 12 months, it may be cheaper to buy a prescription prepayment.</p>

         <p>You can pay in 10 monthly instalments if you buy a 12 month prescription prepayment.</p>
        
        <p class="button-group">
          <a class="button button-get-started" href="dob" id="next">
            Prepay for NHS prescriptions 
          </a>
        </p>
        <p>
          <a class="" href="dob?renew=true" id="next">View your prepayment or change your details</a>
        </p>
                        
        <h3 class="heading-medium">How much you could save</h3>
        
        <table class="savings real_table">
          <tbody>
            <tr>
              <th>Items each month</th>
              <th>3 month saving</th>
              <th>12 month saving</th>
            </tr>
            <tr>
              <td>2</td>
              <td>over £95</td>
              <td>over £20</td>
            </tr>
            <tr>
              <td>3</td>
              <td>over £195</td>
              <td>over £45</td>
            </tr>
            <tr>
              <td>4</td>
              <td>over £295</td>
              <td>over £70</td>
            </tr>
          </tbody>
        </table>
        
        <br>
        
        <h3 class="heading-medium">Claiming a refund</h3>

                 
      </div>
      
    </div>
      
  </div>
  
</main>

{% endblock %}
