{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="heading-group">
        <p>Prepay for NHS prescriptions</p>
          <h1 class="heading-large">Your address is not in England</h1>
      </div>
    <p>You must live in England to prepay for prescriptions.</p>
    <p>The postcode you provided suggests you live somewhere else.</p>
    <p>If you incorrectly entered your address, <a href="">return to the previous screen.</a></p>



    </div>
    </div>
</main>

{% endblock %}
