{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-large">You already have an existing prescriptions prepayment</h1>

      <p>
      You can view your existing prescription prepayment in the <a href="../return/return-view">return service</a>.
      </p>

        <p>
          <a href="/" id="next">Return to NHS Business Services home</a>
        </p>

    </div>

  </div>

</main>

{% endblock %}
