{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<main id="content" role="main">
    
  <div class="grid-row">
    
    <div class="column-full">
      <div class="heading-group">
        <h1 class="heading-xlarge">Buy a prescription<br>prepayment</h1>
      </div>
    </div>

    <div class="column-two-thirds">

      <div class="text">
                
          <p>It takes about 5 minutes to complete and you can start collecting prescriptions straight away. You will need your bank or payment card details depending on how you want to pay.</p>
        
        <p class="button-group">
          <a class="button button-get-started" href="dob" id="next">
            Prepay for NHS prescriptions
          </a>
        </p>
        <p>
          <a class="" href="dob?renew=true" id="next">View, print or change the details on your prepayment</a>
        </p>
                 
      </div>
      
    </div>
      
  </div>
  
</main>

{% endblock %}
