{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

  <div class="text">

    <div class="heading-group">
      <p>Prepay for NHS prescriptions</p>
      <h1 class="heading-large">
        Check your answers
      </h1>
    </div>

    <h3 class="heading-small table-head">Your details</h3>





    <table id="review-table-one" class="check-table">
          <!-- about you -->
          <tr>
            <td>Name</td>
            <td>{{name}}</td>
            <td><a href="name">Change</a></td>
          </tr>
          <tr>
            <td>Date of birth</td>
            <td>{{dobday}} {{dobmonth}} {{dobyear}}</td>
            <td><a href="dob">Change</a></td>
          </tr>
          <tr>
            <td>Do you know your NHS number?</td>
            <td id="has-nhsno">{{hasnhsno}}</td>
            <td><a href="#">Change</a></td>
          </tr>
          <tr id="nhsno">
            <td>NHS Number</td>
            <td>{{nhsno}}</td>
            <td><a href="#">Change</a></td>
          </tr>
          <tr>
            <td>Address</td>
            <td>{{address}}</td>
            <td><a href="post-address">Change</a></td>
          </tr>
          <tr>
            <td>Get prepayment details by text?</td>
            <td id="has-mobile">{{hasmobile}}</td>
            <td><a href="mobile-question">Change</a></td>
          </tr>
          <tr>
            <td>Get prepayment details by email?</td>
            <td id="has-email">{{hasemail}}</td>
            <td><a href="email-question">Change</a></td>
          </tr>
          <tr>
            <td>Get reminders by text?</td>
            <td id="has-email">{{reminderMobile}}</td>
            <td><a href="email-question">Change</a></td>
          </tr>
          <tr>
            <td>Get reminders by email?</td>
            <td id="has-email">{{reminderEmail}}</td>
            <td><a href="email-question">Change</a></td>
          </tr>
          <tr id="mobile-value">
            <td>Mobile number</td>
            <td>{{mobilenumber}}</td>
            <td><a href="mobile-number">Change</a></td>
          </tr>
          <tr id="email-value">
            <td>Email</td>
            <td>{{emailaddress}}</td>
            <td><a href="email-address">Change</a></td>
          </tr>
          <!-- about your prepayment -->
          <tr class="breakheader">
            <td class="strong">Your prepayment</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Length</td>
            <td>{{length}}</td>
            <td><a href="duration">Change</a></td>
          </tr>
           <tr>
            <td>Starts on</td>
            <td>{{startdate}}</td>
            <td><a href="start-date">Change</a></td>
          </tr>
          <tr>
            <td>Ends on</td>
            <td>{{enddate}}</td>
            <td><a href="start-date">Change</a></td>
          </tr>
          <tr>
            <td>Total cost</td>
            <td>{{cost}}</td>
            <td><a href="duration">Change</a></td>
          </tr>
          <tr>
            <td>Payment method</td>
            <td id="method">{{method}}</td>
            <td><a href="duration">Change</a></td>
          </tr>
      </table>

    <br>

    <form action="c-handler" method="get" class="form">
      <div class="form-item-wrapper">
        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>
      </div>
    </form>

    <p class="navigation"><a class="cancel" href="start">Cancel</a></p>

  </div>
  </div>
  </div>

</main>

{% endblock %}
