{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <div class="heading-group">
        <p>Prepay for NHS prescriptions</p>
        <h1 class="heading-large">
            Get a copy of your prepayment details sent by text and email
        </h1>
      </div>

      <p>We will also send a reminder before your prepayment ends.</p>

<!--      <p>We will text and/or email you a reminder 1 month before your prepayment ends.</p>-->

      <form class="form" action="contact-handler">
        <fieldset class="form-group">
          <legend class="visually-hidden">
            Get a copy of your prepayment details sent by text message and email
          </legend>
          <div class="multiple-choice multiple-radio">
            <input id="text" name="text" type="checkbox" value="true">
            <label for="text">Get text messages</label>
          </div>
          <div class="multiple-choice multiple-radio">
            <input id="email" name="email" type="checkbox" value="true">
            <label for="email">Get emails</label>
          </div>
<!--
          <div class="multiple-choice multiple-radio">
            <input id="email" name="email" type="checkbox" value="true">
            <label for="email">No, don't send either</label>
          </div>
-->
        </fieldset>


          <div>
      <p>
        You can write your prepayment details down, print or download them at the end of this service.
      </p>

      <p>
        <span class="bold">This service does not issue plastic cards any more.</span> They are not required for collecting prescriptions. They are costly to the NHS and the environment.
      </p>

          </div>

        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>
      </form>

    </div>

  </div>

</main>

{% endblock %}
