{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<main id="content" role="main">
    
  <div class="grid-row">
    <div class="column-two-thirds">
  
    <!-- <p class="navigation"><a class="back-to-previous">Back</a></p> -->

    <h1 class="heading-large">
      Is the account holder's address the same as yours?
    </h1>

    <form action="" method="get" class="form">
      <div class="form-item-wrapper">
        <fieldset>
          <div class="inline-form-groups">
            <div class="form-group">
              <input type="radio" id="yes" name="prompt" value="yes">
              <label class="form-control-radio" for="yes">
                Yes
              </label>
            </div>
            <div class="form-group">
              <input type="radio" id="no" name="prompt" value="no">
              <label class="form-control-radio" for="no">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      
      <div class="form-item-wrapper">
        <div class="form-group">
          <input class="button" type="submit" value="Confirm and submit" href="dd-dec">
        </div>
      </div>
      
    <p class="navigation"><a class="cancel" href="../lis-home">Save and come back later</a></p>
      
  </form>

    </div>
    </div>
</main>

{% endblock %}
