{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<main id="content" role="main">
  
  <div class="grid-row">
    
    <div class="column-third right-floater">

      <div class="payment-summary-small">
        
        <h2>Payment summary</h2>
        
        <p class="payment-info">Prepay for 12 months of prescriptions</p>
        
        <h3>Amount to pay:</h3>
        
        <p class="payment-info">10 payments of £10.40</p>
        
      </div>

    </div>
    
      <div class="column-two-thirds left-floater">
      
      <h1 class="heading-large">Enter bank details</h1>
      
      <form class="form" method="get" action="dd-handler">
        
        <div class="form-group">
          
          <label class="form-label-bold" for="cardnumber">
            Account number
          </label>
          
          <input class="form-control medium-width" id="cardnumber" name="cardnumber" type="number">          
          
        </div>

        <div class="form-group">
          
          <fieldset>
            
            <div class="form-date">
              
              <legend class="form-label-bold">
                Sort code	
              </legend>
              
                <div class="form-group form-group-month">
                  
                  <input class="form-control" id="exmonth" name="exmonth" type="number">
                  
                </div>
              
                <div class="form-group form-group-month">
                  
                  <input class="form-control" id="exyear" name="exyear" type="number">
                  
              </div>
              
                <div class="form-group form-group-month">
                  
                  <input class="form-control" id="exyear" name="exyear" type="number">
                  
              </div>
          </div>
          </fieldset>
          
        </div>

        <div class="form-group">
          
          <label class="form-label-bold" for="holdername">
            Account name
          </label>
          
          <input class="form-control max-width" id="holdername" name="holdername" type="text">
          
        </div>
        
<!--
        <div class="multiple-choice nbg">
          <input id="checkbox-telephone-number" name="contact-by-text-phone" type="checkbox" value="true">
          <label for="checkbox-telephone-number">
            I am the account holder and can authorise <br> Direct Debit payments.
          </label>
        </div>
-->
        
        <details>

  <summary><span class="summary">View the Direct Debit Guarantee</span></summary>

  <div class="panel panel-border-narrow">
    <p>
        <img src="/public/images/ddlogo.png">
      </p>
        
      <p>
          The Guarantee is offered by all banks and building societies that accept instructions to pay Direct Debits.
        </p>
        <p>
          If there are any changes to the amount, date or frequency of your Direct Debit the NHS Business Services Authority will notify you (normally 10 working days) in advance of your account being debited or as otherwise agreed. If you request the NHS Business Services Authority to collect a payment, confirmation of the amount and date will be given to you at the time of the request.
        <p>
          If an error is made in the payment of your Direct Debit, by the NHS Business Services Authority or your bank or building society, you are entitled to a full and immediate refund of the amount paid from your bank or building society.
        </p>
        <p>
          If you receive a refund you are not entitled to, you must pay it back when the NHS Business Services Authority asks you to.
        </p>
        <p>
          You can cancel a Direct Debit at any time by simply contacting your bank or building society. Written confirmation may be required. Please also notify the NHS Business Services Authority.
        </p>

  </div>

</details>
              
        <br>
        <div class="form-item-wrapper">
          <div class="form-group">
            <input class="button" type="submit" value="Next">
          </div>
        </div>
        <div class="form-item-wrapper">
          <a href="#">Cancel</a>
        </div>
        
        
              </form>

    </div>
    
  </div>
	
</main>

{% endblock %}