{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<main id="content" role="main">
  
  <p class="smalltext"> <a href="/">< Back to all versions</a> </p>
  
  <h3 class="heading-medium">Version 4 - April 2017</h3>
  
  <ul class="list list-bullet">
    <li><a href="start">Journey for a person buying a prepayment certificate</a></li>
    <li><a href="../google/index">Journey starting with a Google search</a><br>(enter 'PPC' for results 1 or 'Pre-payment certificates' for results 2)</li>
    <li><a href="../bsa/hwhc">Prescription prepayment content on NHS BSA website</a></li>
    <li><a href="../bsa/hwhc-v2">Prescription prepayment content on NHS BSA website - v2</a></li>
    <!--<li>Journey for a person who already has a PPC<br>
    (Enter "Bill", "Smith", "NE1 234" for existing exemption check)</li>
    <li>Journey for a person who is 59<br>
    (Enter 1957 for date of birth))</li>
    <li>Journey for a person who is under 16<br>
    (Enter date of birth year less than 2000))</li>
    <li>Journey for a person who is over 60<br>
    (Enter date of birth year later than 1957))</li>-->
    <li><a href="done-v3">Done screen</a></li>
    <li><a href="../email/purchased">Email</a></li>
    <li><a href="../return-view">Return View</a></li>
  </ul>
  
  <h3 class="heading-small">Text content:</h3>
  <p>
    Details of your prescription prepayment.
  </p>
  <p>
    Prepayment for: Jon Doe<br>
    Certificate number: 123 456 789<br>
    Start date: 15 March 2017<br>
    End date: 14 June 2017<br>
  </p>
  <p>
    It is important that you tell us if your name<br>
    or address changes so they match the details<br>
    on your prescriptions.
  </p>
  <p>
    To make a change go to:<br>
    <span style="text-decoration: underline">www.nhs.uk/prescription-prepayments</span>
  </p>
  
  <!--
  <h3 class="heading-medium">Digital certificate</h3>
  
-->

</main>

{% endblock %}
