{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="heading-group">
        <p>Prepay for NHS prescriptions</p>
          <h1 class="heading-large">We could not process your details</h1>
      </div>
      <p>It is not your fault. Our system is having technical difficulties.</p>
      <p>If you want to try again, <a href="">return to the start</a>.</p>
      <p>If the problem persists, <a href="">use our contact form</a> or call 0300 330 1341.</p>




    </div>
    </div>
</main>

{% endblock %}
