{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="heading-group">
        <p>Prepay for NHS prescriptions</p>
          <h1 class="heading-large">We could not process your payment</h1>
      </div>
  <p>It is not your fault. Our credit/debit card payment system is not responding.</p>
  <p>If you want to try again, <a href="start">return to the start</a>.</p>


  
    </div>
    </div>
</main>

{% endblock %}
