{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="heading-group">
        <p>Prepay for NHS prescriptions</p>
          <h1 class="heading-large">Please contact us</h1>
      </div>
    <p>Our records show you may already be receiving help with NHS health costs.</p>
    <p>If you need help in completing this form, call us on 0300 330 1341. You could also use <a href="">our contact form</a>.</p>



    </div>
    </div>
</main>

{% endblock %}
