{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

  <div class="text">

    <div class="heading-group">
      <p>Prepay for NHS prescriptions</p>
      <h1 class="heading-large">
        How we use your information
      </h1>
    </div>
    <p>We may contact you, by any method you have provided, about:</p>
    <ul class="list-bullet">
      <li>your prepayment purchase</li>
      <li>our quality of service to you</li>
    </ul>
  </p>
  <p>We match the information you give us against your prescriptions to check you have a valid prepayment.​</p>
    <p>We tell you more about what we do with your data in our <a href="../notice-privacy1">privacy notice</a>.</p>
    <div class="form-group">
    <!-- <div class="multiple-choice multiple-radio">
      <input id="text" name="text" type="checkbox" value="true">
      <label for="text">I have read the privacy notice</label>
    </div> -->
  </div>


    <br>
    <form action="privacy-handler" method="get" class="form">
      <div class="form-item-wrapper">
        <div class="form-group">
          <input class="button" type="submit" value="Agree">
        </div>
    </div>
    </form>

    <p class="navigation"><a class="cancel" href="start">Cancel</a></p>

  </div>
  </div>
  </div>

</main>

{% endblock %}
