{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <div class="heading-group">
        <p>Prepay for NHS prescriptions</p>
        <h1 class="heading-large">
          Do you want a reminder sent by text and email?
        </h1>
      </div>

      <p>We can send you a reminder by text and email just before your prepayment ends.


      <form class="form" action="reminder-handler" id="contact-boxes">
        <fieldset class="form-group">
          <legend class="visually-hidden">
            Get a copy of your prepayment details sent by text message and email
          </legend>
          <div class="multiple-choice multiple-radio">
            <input id="text" name="remindertext" type="checkbox" value="true">
            <label for="text">Get text message</label>
          </div>
          <div class="multiple-choice multiple-radio">
            <input id="email" name="reminderemail" type="checkbox" value="true">
            <label for="email">Get email</label>
          </div>
          <div class="multiple-choice multiple-radio" data-target="neither">
            <input id="post" name="post" type="checkbox" value="true">
            <label for="post">Get neither</label>
          </div>
          <div class="panel panel-border-narrow js-hidden" id="neither">
            <!-- <p>You will not receive a reminder to renew your prescription prepayment. Make a note of your prepayment expiry date.</p> -->
            <p>{{neithertext}}</p>
          </div>
        </fieldset>



        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>
        <p class="navigation"><a class="cancel" href="start">Cancel</a></p>
      </form>

    </div>

  </div>

</main>

{% endblock %}
