{% extends "layout_bsa.html" %}

{% block page_title %}
  Buy a prescription prepayment
{% endblock %}

{% block content %}

<main id="content" role="main">
    
  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="text">

        <div class="heading-group">
          <p class="description">Prescription prepayment for</p>
          <h1 class="heading-large">{{name}} <span class="link"><a href="out">(Sign out)</a></span> </h1>
        </div>
        
        <div>
          <h1 class="heading-large">Your prescriptions are paid until <br>31 March 2017</h1>
          <p>We will email you in February to remind you.</p>
        </div>
        
        <!--<p><a class="button">Renew now</a></p>-->
        <hr>
        
        <ul>
          <li><a href=""><span class="icon"></span>Print this</a></li>
          <li><a href=""><span class="icon"></span>Download this (PDF 55k)</a></li>
          <li><a href=""><span class="icon"></span>Send me another copy</a></li>
        </ul>
        
        <hr>
        
        <h2 class="heading-medium">Tell us something has changed</h2>
        
        <p>You need to tell us if your name or address changes so that you don't get a fine. You can also change the way we contact you.</p>
        
        <p>
          <a class="secondary-button">Change your details</a>
        </p>
        
      </div>
      
    </div>
    
  </div>
  
</main>

{% endblock %}