{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">

    <div class="column-full">
      <div class="heading-group">
        <h1 class="heading-xlarge">Prepay for NHS prescriptions</h1>
      </div>
    </div>

    <div class="column-two-thirds">

      <div class="text">

        <p>
          Save money on NHS prescriptions by prepaying for them.
        </p>

        <p>
          You can pay a set price for prescriptions for 3 or 12 months, no matter how many you need.
        </p>
        <p>A prescription costs £8.60 per item, but prepaying for an unlimited number of prescriptions is:</p>

        <ul class="list list-bullet">
          <li>£29.10 for 3 months</li>
          <li>£104 for 12 months (or 10 Direct Debit instalments of £10.40)</li>
        </ul>

        <h3 class="heading-medium">How it works</h3>

        <p>
        At the end of this service we give you a digital prepayment certificate, including:
        </p>

        <ul class="list list-bullet">
          <li>a prepayment number</li>
          <li>a start date</li>
          <li>an end date</li>
        </ul>

        <p>
          You can use these to collect prescriptions straight away, if your start date is today or earlier. You can also get your certificate by text and email.
        </p>

        <h3 class="heading-medium">Collecting prescriptions</h3>

        <p>
          Tick box 'F' on the back of your prescription.
        </p>

        <p>
          Pharmacy staff ask for prepayment details. If you do not have them with you, they tick 'Evidence not seen' on the prescription. They will not charge you.
        </p>

        <p>
           We prevent fraud by matching prepayment details on our database with prescriptions.
        </p>

      </div>

      <br>

        <p class="button-group">
          <a class="button button-get-started" href="dob" id="next">
            Buy now
          </a>
        </p>

<!--
        <h3 class="heading-medium">Before you start</h3>
          <p>
            It takes about 5 minutes to complete our form. You need your bank sort code and account number for Direct Debit payments. For card payments you will need your credit or debit card details.
          </p>
-->

<!--
      <p>
        You will be asked if you know your NHS number. It's optional to provide this. Not having it to hand will not affect your ability to buy.
      </p>
-->
<!--
        <h3 class="heading-medium">Existing prepayments</h3>

        <p>If you already have prepaid you can <a class="" href="../return/return_start" id="next">view, print or change the details</a>.</p> -->

      </div>

    </div>

  </div>

</main>

{% endblock %}
