{% extends "layout_bsa.html" %}

{% block page_title %}
  Buy a prescription prepayment
{% endblock %}

{% block content %}

<main id="content" role="main">
    
  <div class="grid-row">
    
    <div class="column-full">
      <div class="heading-group">
        <h1 class="heading-xlarge">Prescription Prepayments</h1>
      </div>
    </div>

    <div class="column-two-thirds">

      <div class="text">
        
        <!--<p>
          You can use this service to buy a new prescription prepayment. You can also view and get a copy of your prescription prepayment if you already have one.
        </p>-->
        
        <p>
          You can prepay the NHS for your prescriptions which may make them cheaper.
        </p>
        
        <p>
          You can cover all of your prescriptions for 3 or 12 months, no matter how many you need
        </p>
<!--
        <p>
          You can cover your prescriptions for 3 or 12 months. This includes all your prescriptions for that period, no matter how many you need.
        </p>
-->
                
        <p>A prescription costs £8.40 per item, but a prescription prepayment costs:</p>
        
        <ul class="list list-bullet">
          <li>£29.10 for 3 months</li>
          <li>£104 for 12 months (or 10 instalments of £10.40)</li>
        </ul>

        <p>If you are going to buy 4 prescription items or more in the next 3 months, it may be cheaper to buy a prescription prepayment.</p>
        
        <p class="button-group">
          <a class="button button-get-started" href="dob" id="next">
            Buy a prescription prepayment
          </a>
        </p>
                <div class="panel panel-border-wide">
          <p>To save the NHS money we no longer provide plastic cards.</p>
        </div>


        <h3 class="heading-medium">Before you start</h3>
          <p>It takes about 5 minutes to complete and you will need your bank or payment card details depending on how you want to pay.</p>        
  
        <p>The pharmacy staff will want to make a note of the details of your prepayment. You can choose how we send them to you and use them to start collecting prescriptions straight away.</p>
        
        <h3 class="heading-medium">Existing prescription prepayments</h3>
        
        <p>If you already have a prescription prepayment you can <a class="" href="dob?renew=true" id="next">view, print or change the details</a></p>        
                 
      </div>
      
    </div>
      
  </div>
  
</main>

{% endblock %}
